{% extends "layouts/base.twig" %}
{% block underHeader %}
  <div class="container">
    
  </div>
{% endblock %}
{% block page %}
   
    {% include "components/blocks/homeSlider.twig" with homeslider %}
   
    {% include "components/blocks/lineDescription.twig" with linedescription1 %}
   
    {% include "components/blocks/gallery.twig" with gallery %}
   
    {% include "components/blocks/contentCover.twig" with contentcover1 %}
   
    {% include "components/blocks/lineDescription.twig" with linedescription2 %}

    {% include "components/blocks/contentCover.twig" with contentcover2 %}

    {% include "components/blocks/listLinks.twig" with listlinks %}

    {% include "components/blocks/contentButtonImg.twig" with contentbuttonimg %}

    {% include "components/blocks/traders.twig" %}

    {% include "components/blocks/realizations.twig" with realizations %}
    
    {% include "components/blocks/partners.twig" %}
    
    {% include "components/blocks/offerHorizontal.twig" %}

{% endblock page %}