{% extends "layouts/base.twig" %}
{% block underHeader %}
  <div class="container">
    
  </div>
{% endblock %}
{% block page %}
   
    {% include "components/blocks/homeSlider.twig" with homeslider %}
   
    {% include "components/blocks/lineDescription.twig" with linedescription1 %}

    {% if bigimageon %}
        {% include "components/blocks/bigImage.twig" with bigimage %}
    {% endif %}
   
    {% include "components/blocks/imageContent.twig" with imagecontent1 %}

    {% if qualitieson %}
        {% include "components/blocks/qualities.twig" with qualities %}
    {% endif %}
    
    {% if contentcoveron %}
        {% include "components/blocks/contentCover.twig" with contentcover %}
    {% endif %}
    
    {% include "components/blocks/lineDescription.twig" with linedescription2 %}

    {% if imagecontent2on %}
        {% include "components/blocks/imageContent.twig" with imagecontent2 %}
    {% endif %}

    {% if linedescription3on %}
        {% include "components/blocks/lineDescription.twig" with linedescription3 %}   
    {% endif %}

    {% if imagecontent3on %}
        {% include "components/blocks/imageContent.twig" with imagecontent3 %}
    {% endif %}

    {% if specson %}
        {% include "components/blocks/specs.twig" with specs %}
    {% endif %}

    {% if imagecontent4on %}
        {% include "components/blocks/imageContent.twig" with imagecontent4 %}
    {% endif %}

    {% if videoon %}
        {% include "components/blocks/video.twig" with video %}
    {% endif %}

    {% include "components/blocks/traders.twig" %}

    {% include "components/blocks/realizations.twig" with realizations %}
    
    {% include "components/blocks/partners.twig" %}
    
    {% include "components/blocks/offerHorizontal.twig" %}

{% endblock page %}