{% extends "layouts/base.twig" %}
{% block underHeader %}
<div class="container">

</div>
{% endblock %}
{% block page %}

  {% include "components/blocks/homeSlider.twig" with homeslider %}

  {% include "components/blocks/lineDescription.twig" with linedescription1 %}
  
  {% if contentcover1on %}
    {% include "components/blocks/contentCover.twig" with contentcover1 %}
  {% endif %}

  {% if linedescription2on %}
    {% include "components/blocks/lineDescription.twig" with linedescription2 %}
  {% endif %}

  {% include "components/blocks/lineDescription.twig" with linedescription3 %}
  
  {% include "components/blocks/lineDescription.twig" with linedescription4 %}
  
  {% if contentcover2on %}
    {% include "components/blocks/contentCover.twig" with contentcover2 %}
  {% endif %}

  {% if linedescription5on %}
    {% include "components/blocks/lineDescription.twig" with linedescription5 %}
  {% endif %}
  
  {% include "components/blocks/lineDescription.twig" with linedescription6 %}

  {% if linedescription7on %}
    {% include "components/blocks/lineDescription.twig" with linedescription7 %}
  {% endif %}

  {% include "components/blocks/traders.twig" %}

  {% include "components/blocks/realizations.twig" with realizations %}

  {% include "components/blocks/partners.twig" %}

  {% include "components/blocks/offerHorizontal.twig" %}

{% endblock page %}