footer {
    .footer {
        &__contact {
            background-color: $grey;
            display: flex;
            justify-content: space-between;
            padding: 80px 10px 0 200px;
            &--header {
                font-size: 3rem;
                line-height: 3.2rem;
            }
            &_section {
                flex: 0 0 40%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                p {
                    flex: 1 0 30%;
                    margin: 1rem 0 20%;
                }
            }
            &--address {
                display: flex;
                margin-bottom: 50px;
                justify-content: space-between;
                align-items: center;
                &-aside {
                    flex: 0 0 40%;
                    .linkbutton { 
                        padding: 7px 20px 7px 7px;
                        font-size: 0.8rem;
                    }
                    h2 {
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }
                    p {
                        padding: 0;
                        font-size: 1.2rem;
                    }
                }
            }
            &--map {
                margin-bottom: -50px;
                flex: 0 0 50% !important;
                padding: 0 10px;
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        &__info {
            padding: 60px 200px;
            background-color: $pink;
            color: white;
            &_sections {
                display: flex;
                justify-content: space-between;
                &--section {
                    span {
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                    &:nth-child(3), &:nth-child(4) {
                        padding-top: 50px;
                    }
                }
            }
            &_nav {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                img {
                    height: 2rem;
                }
            }
        }
        &__copyright {
            display: flex;
            justify-content: space-between;
            padding: 1rem 200px;
        }
    }
    &.footer--small {
        .footer {
            &__contact {
                display: none;
            }
            &__info {
                padding: 20px 100px;

                &_sections {
                    display: none;
                }
                &_nav {
                    margin: 0;
                }
            }
            &__copyright {
                padding: 1rem 100px;
            }
        }
    }
}   
@media (max-width: 1000px) {
  footer {
    .footer {
        &__contact {
            flex-direction: column;
            padding: 80px 10px 0;
            &_section {
                padding: 0 50px 0 50px;
            }
            &--map {
                margin-bottom: -30px;
                height: 300px;
                iframe {
                    width: 100%;
                }
            }
        }
        &__info {
            padding: 60px 10px;
        }
        &__copyright {
            padding: 1rem 10px;
        }
    }
  }
}
@media (max-width: 700px) {
  footer {
    .footer {
        &__contact {
            padding: 50px 10px 0;
            &_section {
                padding: 0 10px;
            }
        }
        &__info {
            &_sections {
                flex-wrap: wrap;
                &--section {
                    flex: 0 0 50%;
                }
            }
        }
        
        &__copyright {
            flex-wrap: wrap;
        }
    }
  }
}
@media (max-width: 500px) {
    
  footer {
    .footer {
        &__contact {
            &_section {
                padding: 0 10px;
            }
            &--address {
                flex-wrap: wrap;
                &-aside {
                    flex: 1 0 50%;
                    margin: 10px 0;
                }
            }
        }
    }
  }
}