.header{
    position: fixed;
    z-index: 100;

    min-height: 60px;
    max-height: 100vh;

    width: 100%;
    left: 0;
    top: 0;

    background-color: white;


    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin: 0 60px;
        &--navButton {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            padding: 20px 10px;
            width: 60px;
            span {
                width: 100%;
                height: 3px;
                display: block;
                background-color: $blue;
                margin: auto 0;

                transition: transform .5s ease;
            }
            
            &:hover {
                cursor: pointer;
            }
        }
        &--logo {
            img {
                height: 100px;
            }
        }
        &--social {
            a {
                svg {
                    transform: scale(0.8);
                    * {
                        stroke: white;
                        fill: $blue;
                    }
                }
            }
        }
    }
    &:not(.unrolled) {
        .header__navigation {
            height: 0 !important;
        }
    }
    &__navigation {
        height: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: white;
        overflow-y: scroll;
        transition: height .5s ease;
    }

    &.unrolled {
        .header__bar--navButton {
            span {
                transform: rotate(45deg) translate(-7px, 0);
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-7px, 0);
                }
            }
        }
        .header__navigation {
            height: calc(100vh - 60px);
            // height: fit-content;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__bar {
            margin: 0 30px;
            flex-direction: row-reverse;
            &--social {
                display: none;
            }
        }
    }
}