.nav {
    // min-height: fit-content;
    // height: fit-content;
    width: 100%;
    padding: 30px 60px;
    // &__content {
    //     min-height: calc(100vh - 500px);
    // }
    &__top {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      padding: 0 200px;
      border-bottom: solid $blue 1px;
      li {
        padding: 0 10px 10px;
        h2 {
          font-weight: normal;
          white-space: nowrap;
        }
        &.active {
          box-sizing: border-box;
          font-weight: bold;
          position: relative;
          h2 {
            font-weight: bold;
          }
          &::after {
            content: " ";
            position: absolute;
            width: 100%;
            border-bottom: solid $blue 4px;
            bottom: -2px;
            left: 0;
          }
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
    &__bottom {
      display: flex;
      min-height: 100%;
      height: fit-content;
      position: relative;
    }
  
    &__aside {
      flex: 0 0 250px;
      border-right: 2px solid $darker-grey;
      height: 70%;
      margin: 10px;
      &_item {
        list-style-type: none;
        margin: 4px 30% 4px 0;
        padding: 15px 0 0;
        a {
          h3 {
            font-weight: normal;
            margin-bottom: 0;
          }
        }
        &.active {
          border-bottom: solid 2px $pink;
          .nav__aside_item--submenu {
            display: flex;
          }
        }
        &--submenu {
          ////////////////////////////////////////////////////////
          display: none;
          position: absolute;
          left: 300px;
          top: 20px;
          width: calc(100% - 300px);
          // min-height: calc(100% - 50px);
          // padding-bottom: 30%;
          // justify-content: space-between;
          flex-wrap: wrap;
          padding-bottom: 20%;
        }
        &--hidden {
          &,
          &::after {
            display: none;
          }
        }
        &--onas {
          border-bottom: none !important;
        }
      }
    }
  
    &__tile {
      margin: 2%;
      background-color: $grey;
      position: relative;
      transition: all 0.6s ease-out;
  
      ////////////// typ tile:
      &--active {
        background-color: $blue;
        .nav__tile {
          &_title,
          &_description {
            color: white;
            &::after {
              background-color: white;
            }
          }
        }
        & + .nav__tile_bottommenu {
          display: flex;
        }
      }
      &:hover:not(.nav__tile--minimenu) {
        background-color: $pink;
        .nav__tile {
          &_title,
          &_description {
            color: white;
            &::after {
              background-color: white;
            }
          }
        }
      }
  
      // &--bigimagelink, &--smallimagelink, &--smallnoimagelink {   // kafle z bezposrednim linkiem
      //     &.nav__tile--active {
      //         background-color: $grey;
      //         .nav__tile {
      //             &_title, &_description {
      //                 color: $blue;
      //                 &::after {
      //                     background-color: $pink;
      //                 }
      //             }
      //         }
      //     }
      // }
      &--smallnoimagelink {
        min-width: 220px !important;
      }
      &--smallimagelink,
      &--smallnoimagelink,
      &--minimenu {
        //małe kafle
        height: fit-content;
        min-height: 180px;
        flex: 0 0 20%;
        min-width: 170px;
        margin-bottom: 2rem;
      }
      &--bottommenulink,
      &--bigimagelink {
        //duże kafle
        flex: 0 0 18%;
        margin: 0 60px 60px 0;
        height: 42%;
        min-height: 310px;
        min-width: 200px;
        max-width: 250px;
  
        .nav__tile {
          &_description {
            transform: rotate(-90deg);
            transform-origin: 0 0;
            position: absolute;
            bottom: -45px;
            left: -5px;
            width: min-content;
  
            white-space: nowrap;
            font-size: 1.6rem;
          }
          &_image {
            width: 70%;
            right: -12%;
            bottom: -20%;
          }
        }
      }
      &--smallnoimagelink {
        flex: 0 0 25%;
        .nav__tile {
          &_title {
            font-size: 2rem;
            font-weight: bold;
            text-transform: none;
          }
          &_description {
            font-size: 1rem;
            font-weight: normal;
          }
        }
      }
  
      &_bottommenu {
        & + .nav__tile--minimenu {
          display: none;
        }
      }
      .nav__tile--bottommenulink.nav__tile--active
        + &_bottommenu
        + .nav__tile--minimenu {
        display: block;
        margin: 2% 17% 2% 3%;
      }
  
      //////////////// child elements:
      &_title {
        color: $blue;
        text-transform: uppercase;
        position: relative;
        padding: 15px 10px 10px;
        font-size: 0.75rem;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: -10px;
          width: 35%;
          height: 4px;
          background-color: $pink;
        }
      }
      &_description {
        font-size: 1.87rem;
        color: $blue;
        font-weight: bold;
        padding: 10px;
      }
      &_image {
        position: absolute;
        right: 0;
        bottom: -30px;
        width: 50%;
        img {
          width: 100%;
        }
      }
      &_links {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
          width: 100%;
          a {
            display: block;
            width: 100%;
            height: 100%;
            font-weight: bold;
            font-size: 1.3rem;
            color: $blue;
            padding: 2px 10px;
          }
          &:hover {
            background-color: $pink;
            a {
              color: white;
            }
          }
        }
      }
      &_bottommenu {
        display: none;
  
        position: absolute;
        bottom: 30px;
        left: 0;
        height: 30%;
        width: 100%;
        border-top: 2px solid $darker-grey;
  
        align-items: center;
        // justify-content: space-between;
  
        &-option {
          flex: 0 0 20%;
          display: flex;
          align-items: center;
          img {
            height: 140px;
          }
          div {
            // display: inline-block;
            font-size: 1.5rem;
            color: $blue;
            padding: 0 20px;
  
            b {
              display: block;
              max-width: 140px;
              min-width: 60px;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1500px) {
    .nav {
      &__tile {
        &_bottommenu {
          &-option {
            img {
              width: 30%;
              object-fit: contain;
            }
            div {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1230px) {
    .nav {
      &__aside_item--submenu {
        height: auto;
      }
    }
  }
  
  @media (max-width: 1300px) {
    .nav {
      &__aside {
        padding: 0;
        flex: 0 0 150px;
        margin: 10px 0;
        &_item {
          margin: 4px 10% 4px 10px;
          &--submenu {
            left: 200px;
            padding: 0;
            &-hasbottommenu {
              flex-direction: column;
              .nav {
                &__tile {
                  &--bottommenulink,
                  &--bigimagelink,
                  &_bottommenu + .nav__tile--minimenu {
                    width: 140px;
                  }
                  &--smallimagelink,
                  &--smallnoimagelink,
                  &--minimenu {
                    margin: 0 30px 50px 0 !important;
                    width: 200px;
                    flex: 0 0;
                  }
                  &_bottommenu {
                    bottom: auto;
                    top: 0;
                    left: auto;
                    right: 0;
                    flex-direction: column;
                    width: 40%;
                    height: auto;
                    border-top: none;
                    border-left: 2px solid #cbcbcb;
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 800px) {
    .nav {
      &__aside {
        &_item {
          &--submenu {
            width: calc(100% - 190px);
          }
        }
      }
      &__tile {
        &--bottommenulink,
        &--bigimagelink,
        &_bottommenu + .nav__tile--minimenu {
          width: 120px;
          min-width: 140px;
          min-height: 200px;
          .nav__tile {
            &_title {
              font-size: 0.7rem;
            }
            &_description {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 660px) {
    .nav {
      &__top {
        padding: 0;
        li {
          padding: 0 5px 5px;
          a {
            h2 {
              font-size: 1.2rem;
            }
          }
        }
      }
  
      padding: 30px 5px;
      &__aside {
        flex: 0 0 100px;
        a h3 {
          font-size: 1rem;
        }
        &_item {
          &--submenu {
            left: 120px;
            width: calc(100% - 140px);
          }
        }
      }
      &__tile {
        &--bottommenulink,
        &--bigimagelink,
        &--minimenu {
          .nav__tile {
            &_title {
              padding: 5px;
            }
            &_description {
              font-size: 1.1rem;
            }
            &_links {
              a {
                font-size: 1.1rem;
              }
            }
          }
        }
        &_bottommenu-option {
          img {
            width: 40%;
          }
          div {
            padding: 0 5px;
          }
        }
      }
    }
  }
  
  @media (max-width: 420px) {
    .nav {
      &__top {
        padding: 0;
        li {
          padding: 0 5px 5px;
          a {
            h2 {
              font-size: 1.1rem;
            }
          }
        }
      }
      &__aside {
        flex: auto;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        position: relative;
  
        &_item {
          margin: 2px 20px;
          padding: 10px 0 0;
  
          /*         &::after {
            content: "";
            height: 100%;
            width: 2px;
            background: $blue;
            position: absolute;
            right: -20px;
            top: 0;
            opacity: 0.7;
          } */
          &--submenu {
            left: 0;
            width: 100%;
            top: 190px;
            justify-content: space-evenly;
  
            &-hasbottommenu {
              flex-direction: column;
              .nav {
                &__tile {
                  &--bigimagelink {
                    flex: 0 0 100% !important;
                  }
                  &--bottommenulink,
                  &--bigimagelink,
                  &_bottommenu + .nav__tile--minimenu {
                    width: 100px;
                    margin-left: 10px;
                  }
                  &--minimenu {
                    margin-left: 10% !important;
                  }
                  &--smallimagelink,
                  &--smallnoimagelink,
                  &--minimenu {
                    width: 150px;
                    flex: 0 0;
                  }
  
                  &_bottommenu {
                    bottom: auto;
                    top: 0;
                    left: auto;
                    right: 0;
                    flex-direction: column;
                    width: 45%;
                    height: auto;
                    border-top: none;
                    border-left: 2px solid #cbcbcb;
                    padding-left: 30px;
  
                    &-option {
                      flex: auto;
                      flex-direction: column;
  
                      div {
                        font-size: 1rem;
  
                        b {
                          line-height: 1.3;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__tile {
        min-height: 180px;
        min-width: 130px;
        width: 130px;
  
        &--bigimagelink {
          flex: 0 0 100%;
          min-height: 200px;
  
          &_image {
            width: 80%;
          }
        }
        &--minimenu {
          .nav__tile_title {
            padding: 15px 10px 10px;
          }
          .nav__tile_links a {
            font-size: 0.9rem !important;
          }
        }
        &--bottommenulink {
          margin: 2% 2% 2rem 10% !important;
        }
        &_description {
          font-size: 1rem !important;
        }
        &_image {
          width: 60%;
        }
        &_links {
          a {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
  