<footer id="mainfooter" class="footer 
{#{ pagename() == "kontakt" ? "footer--small" : "" }#}">
    <div class="footer__contact">
        <div class="footer__contact_section">
            <h2 class="footer__contact--header">{{options.footer.title}}</h2>
            <p>
                {{options.footer.note}}
            </p>
            <div class="footer__contact--address">
                <div class="footer__contact--address-aside">
                    <h2>{{options.footer.address.title}}</h2>
                    <p>
                        {{options.footer.address.content}}
                    </p>
                </div>
                <div class="footer__contact--address-aside">
                    <a href="{{options.footer.address.link.url}}" class="linkbutton">{{options.footer.address.link.title}} <span>&rarr;</span></a>
                </div>
            </div>
        </div>
        <div class="footer__contact_section footer__contact--map">
            {{options.footer.map}}
        </div>
    </div>
    <div class="footer__info">
        <div class="footer__info_sections">
        {% for section in options.footer.sections %}
            <div class="footer__info_sections--section">
                <span>
                    {{section.title}}
                </span> <br>
                {{section.content}}
            </div>
        {% endfor %}
        </div>

        <div class="footer__info_nav">
            <img src="{{options.footer.libertaicon.url}}" alt="">
            <div class="footer__info_nav-social">
                <a href="{{options.social.fb.link}}" class="footer__info_nav-social--fb">
                    <img src="{{options.social.fb.icon.url}}" alt="">
                </a>
                <a href="{{options.social.yt.link}}" class="footer__info_nav-social--yt">
                    <img src="{{options.social.yt.icon.url}}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div>{{options.footer.copyright}}</div>
        <div>Made with <a href="https://grupataka.pl/" target="_blank" style="font-size:1.2rem;">&#9825;</a> by <a href="https://grupataka.pl/">GrupaTAKA.pl</a></div>
    </div>
</footer>