<header id="main-header" class="header">
  <div class="header__bar">

    <div class="header__bar--navButton">
      <span></span>
      <span></span>
    </div>

    <a href="{{site.link}}" class="header__bar--logo">
      <img src="{{ site.logo.src('full') }}" alt="{{ site.logo.alt }}">
    </a>

    <div class="header__bar--social">
      <a href="{{options.social.fb.link}}" target="_blank">
          {{ teik_icon(TimberImage(options.social.fb.icon)) }}
      </a>
      <a href="{{options.social.yt.link}}" target="_blank">
          {{ teik_icon(TimberImage(options.social.yt.icon)) }}
      </a>
    </div>
  </div>
  <div class="header__navigation">
    {% include 'components/nav.twig' %}

  </div>
</header>