<nav id="navigation" class="nav nav--menu">

    <ul class="nav__top">
        {% set onasSubmenu = null %}
        {% for index, item in menus.main.items %}

        <li class="nav__item {{ item.getClasses }}{{index == 0 ? "active" : ''}} nav__item--{{item.name|split(' ')|join('')|lower}}">
            <a {{item.link ? 'href="'~item.link~'"' : ''}}>
                <h2>{{ item.name }}</h2>
            </a>
            {% if item.field_5fa9486b90d39 %}
                {% set onasSubmenu = item %}
            {% endif %}
        </li>

        {% endfor %}

    </ul>

    <section class="nav__bottom">

        <ul class="nav__aside">
            

<!-- 
☐ minimenu                           title       - small - minimenu                          
☐ smallimagelink                     title, desc - small - image - link - horizontal   
☐ bottommenulink                     title, desc -       - image - link (ifAct)      - dropbottommenu 
☐ bigimagelink                       title, desc -       - image - link                        
☐ smallnoimagelink                   title, desc - small -       - link - horizontal - bigTitle
 -->
            {% for index, navitem in menus.main.items|first.children|merge([onasSubmenu]) %}
            <li class="nav__aside_item{{index == 0 ? ' active' : ''}}{{navitem.post_title == "O nas" ? ' nav__aside_item--onas' : ''}}">
                <a href="{{navitem.url}}" class="{{navitem.post_title == "O nas" ? 'nav__aside_item--hidden' : ''}}">
                    <h3>{{navitem.post_title}}</h3>
                </a>
                {% if navitem.field_5fa9486b90d39 %}
                    <div class="nav__aside_item--submenu{{contains('bottommenulink', navitem.field_5fa9486b90d39) ? ' nav__aside_item--submenu-hasbottommenu' : ''}}">
                        {% for index, tile in navitem.field_5fa9486b90d39 %}

                            {% if tile.tileType == "minimenu" %}

                                <div class="nav__tile nav__tile--{{tile.tileType}}">
                                    <div class="nav__tile_title">
                                        {{tile.title}}
                                    </div>
                                    <ul class="nav__tile_links">
                                        {% for option in tile.minimenu %}
                                            <li>
                                                <a href="{{option.link.url}}">
                                                    {{option.link.title}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            {% else %}

                                <a {{tile.link.url ? 'href="'~tile.link.url~'"' : ''}} class="nav__tile nav__tile--{{tile.tileType}}">
                                    <div class="nav__tile_title">
                                        {{tile.title}}
                                    </div>

                                    <div class="nav__tile_description">
                                        {{tile.description}}
                                    </div>

                                    {% if tile.image is defined %}
                                        <div class="nav__tile_image">
                                            <img src="{{tile.image.url}}" alt="">
                                        </div>
                                    {% endif %}
                                    
                                </a>
                            
                                {% if tile.bottommenu %}
                                    <div class="nav__tile_bottommenu">
                                        {% for bottomOption in tile.bottommenu %}

                                            <a href="{{bottomOption.link.url}}" class="nav__tile_bottommenu-option">
                                                <img src="{{bottomOption.image.url}}" alt="">
                                                <div>
                                                    {{bottomOption.title}}
                                                    <b>
                                                        {{bottomOption.link.title}}
                                                    </b>
                                                </div>
                                            </a>

                                        {% endfor %}
                                    </div>
                                {% endif %}

                            {% endif %}

                        {% endfor %}
                        
                    </div>
                {% endif %}
            </li>
            {% endfor %}
            
        </ul>
        
        <!-- <div class="nav__content">
        </div> -->
        
    </section>

</nav>