#pagecontent {
    &.poznaj-aluminium {
        .lineDescription:nth-of-type(2) {
            padding: 220px 0;
            .lineDescription {
                &__content {
                    padding: 0 170px 0 100px;
                }
                &__sideImage {
                    img {
                        height: 570px;
                    }
                }
            }
        }
        .lineDescription:nth-of-type(3) {
            
            .lineDescription {
                &__content {
                    padding: 0 200px 0 100px;
                }
                &__sideImage {
                    img {
                        margin: -175px -100px;
                        height: 570px;
                    }

                }
            }
        }
        .lineDescription:nth-of-type(5) {
            
            .lineDescription {
                &__content {
                    padding: 0 100px;
                }
                &__sideImage {
                    img {
                        margin: -175px -100px;
                        height: 570px;
                    }

                }
            }
        }
        .lineDescription:nth-of-type(7), .lineDescription:nth-of-type(10) {
            
            .lineDescription {
                &__sideImage {
                    img {
                        margin: -175px -100px;
                        height: 570px;
                    }

                }
            }
        }
    }


    &.okno-alumore {
        .qualities {
            &__tile {
                margin: 0 10px;
                img {
                    width: auto;
                    height: 200px;
                }
            }
        }
    }

    &.alumore-door {
        .lineDescription:nth-of-type(6) {
            padding: 250px 0 200px;
        }
        .lineDescription:nth-of-type(9) {
            padding: 200px 0 250px;
        }
    }
}

@media (max-width: 1500px) {
    #pagecontent {
        &.poznaj-aluminium {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding: 0 50px;
                    }
                    &__sideImage {
                        img {
                            height: 400px;
                            margin-right: -314px !important;
                        }
                    }
                }
            }


            .lineDescription:nth-of-type(3), .lineDescription:nth-of-type(5),.lineDescription:nth-of-type(7), .lineDescription:nth-of-type(10) {
                justify-content: space-between;
                .lineDescription {
                    &__content {
                        padding: 0 50px;
                    }
                    &__sideImage {
                        flex: 0 0 35%;
                        img {
                            margin: -100px;
                            height: 400px;
                        }
                    }
                }
            }

        }


        &.okno-alumore {
            .lineDescription:nth-of-type(4), .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 24%;
                        height: 300px;
                        img {
                            height: 500px;
                        }
                    }
                }
            }

            
            .imageContent {
                padding: 0;
                &__content {
                    padding: 50px;
                    align-self: center;
                }
            }
        }

        
        &.drzwi-przesuwne-alumore {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding: 0 50px;
                    }
                    &__sideImage {
                        img {
                            height: 400px;
                            margin-right: -314px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        height: 300px;
                        img {
                            height: 500px;
                        }
                    }
                }
            }

            .imageContent {
                padding: 0;
                &__content {
                    padding: 50px;
                    align-self: center;
                }
                
            }
        }


        &.alumore-door {
            .lineDescription--bigpink {

                .lineDescription {
                    &__content {
                        padding: 0 50px;
                    }
                }
            }

            .lineDescription:nth-of-type(11) {
                .lineDescription {
                    &__content {
                        flex: 0 0 69%;
                        padding: 0 20px;
                    }
                    &__sideImage {
                        height: 267px;
                        flex: 0 0 20%;
                        img {
                            height: 400px;
                            margin-top: -67px;
                        }
                    }
                }
            }
        }
    }
    
}


@media (max-width: 1200px) {
    #pagecontent {
        &.poznaj-aluminium {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        flex: 0 0 60%;
                    }
                    &__sideImage {
                        img {
                            height: 300px;
                            margin-right: -215px !important;
                        }
                    }
                }
            }


            .lineDescription:nth-of-type(3), .lineDescription:nth-of-type(5),.lineDescription:nth-of-type(7), .lineDescription:nth-of-type(10) {
                .lineDescription {
                    &__content {
                        flex: 0 0 60%;
                    }
                    &__sideImage {
                        img {
                            margin: -40px;
                            margin-left: -30px !important;
                            height: 300px;
                        }
                    }
                }
            }
        }


        &.drzwi-przesuwne-alumore {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        flex: 0 0 60%;
                    }
                    &__sideImage {
                        img {
                            height: 287px;
                            margin-right: -215px !important;
                        }
                    }
                }
            }
        }
        

        &.alumore-door {
            .lineDescription--bigpink {
                justify-content: flex-start;
                .lineDescription {
                    &__sideImage {
                        flex: 1 0 30%;
                        img {
                            height: auto;
                            width: 600px;

                        }
                    }
                    &__content {
                        flex: 0 0 60%;
                    }

                }
                
                &.lineDescription--imageLeft {
                    margin-bottom: 50px;
                    .lineDescription {
                        &__sideImage {
                            img {
                                margin-top: 250px;
                            }
                        }
                    }
                }
            }
            
            .lineDescription:nth-of-type(6) {
                padding-top: 350px;
                position: relative;
                .lineDescription {
                    &__content {
                        &_title {

                            position: absolute;
                            width: 100vw;
                            text-align: center;
                            top: 20px;
                            left: 0;
                        }
                    }
                }
            }

            
            .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(8),
            .lineDescription:nth-of-type(7), .lineDescription:nth-of-type(9) {
                .lineDescription {
                    &__sideImage {
                        flex: 1 0 50%;
                        align-self: center;
                    }
                }
            }

            
            .lineDescription:nth-of-type(11) {
                .lineDescription {
                    &__tiles {
                        justify-content: space-around;
                    }
                    &__tile {
                        div {
                            font-size: 1rem;
                        }
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
}


@media (max-width: 900px) {
    #pagecontent {
        &.poznaj-aluminium {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        margin-top: 150px;
                    }
                    &__sideImage {
                        img {
                            margin-right: -230px !important;
                        }
                    }
                }
            }


            .lineDescription:nth-of-type(3), .lineDescription:nth-of-type(5),.lineDescription:nth-of-type(7), .lineDescription:nth-of-type(10) {
                .lineDescription {
                    &__sideImage {
                        width: 90%;
                    }
                }
            }

            .lineDescription:nth-of-type(13) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-right: -190px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(15) {
                .lineDescription {
                    &__sideImage {
                        height: 150px;
                        flex: 0 0 150px;
                        img {
                            margin-right: -160px !important;
                            height: 230px;    
                            margin: -30px -100px;

                        }
                    }
                }
            }

            .lineDescription:nth-of-type(16) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 300px;
                        }
                    }
                }
            }
        }

        &.okno-alumore {
            .lineDescription:nth-of-type(4), .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 400px;
                            margin-right: -175px !important;
                        }
                    }
                }
            }


            .imageContent {
                flex-direction: column;
                height: fit-content !important;
                &__image {
                    height: auto;
                    width: 60%;
                }
            }
        }

        
        &.drzwi-przesuwne-alumore {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 230px;
                            margin-right: -190px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        width: 75%;
                        img {
                            margin-top: -50px;
                            height: 300px;
                            margin-right: -100px !important;
                        }
                    }
                }
            }

            
            .imageContent {
                flex-direction: column;
                height: fit-content !important;
                &__image {
                    height: auto;
                    width: 60%;
                    align-self: flex-end;
                }

                &--centerimage {
                    .imageContent {
                        &__image {
                            align-self: center;
                            img {
                                min-width: 300px;
                                margin-left: -30px;
                            }
                        }
                    }
                }
            }
        }

        &.alumore-door {
            .lineDescription--bigpink {
                .lineDescription {
                    &__sideImage {
                        margin-bottom: -10px;
                        img {
                            margin-left: -280px !important;
                        }
                    }

                }
                
                &.lineDescription--imageLeft {
                    .lineDescription {
                        &__sideImage {
                            margin-bottom: 50px;
                            img {
                                margin: 10px -140px -130px !important;

                            }
                        }
                    }
                }
            }
        }

        
        &.alumore-door {
            .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(8) {
                flex-direction: row;
            }
            .lineDescription:nth-of-type(7), .lineDescription:nth-of-type(9) {
                flex-direction: row-reverse;
            }
            .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(8),
            .lineDescription:nth-of-type(7), .lineDescription:nth-of-type(9) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: auto;
                            width: 400px;
                            margin: -25px;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(11) {
                .lineDescription {
                    &__content {
                        width: 100%;
                    }
                    &__tile {
                        min-width: 300px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 600px) {
    #pagecontent {
        
        &.alumore-door {
            .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(8),
            .lineDescription:nth-of-type(7), .lineDescription:nth-of-type(9) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-left: -320px !important;
                            margin-right: -320px !important;
                        }
                    }
                }
            }
        }
    }
    
}