#pagecontent {
    
    &.bramy-select {
        .ourTeam {
            &:nth-of-type(4) {
                padding: 50px 200px;
                .ourTeam {
                    &__container {
                        padding: 0;
                        &_person {
                            display: flex;
                            flex-direction: column-reverse;
                            max-width: 25%;
                            p {
                                font-weight: bold;
                                text-align: center;
                            }
                            img {
                                width: 100%;
                                height: fit-content;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(19) {
                text-align: center;
                .ourTeam {
                    &__container {
                        &_person {
                            max-width: 30%;
                            img {
                                width: 340px;
                                height: 340px;
                            }
                        }
                    }
                }
            }
        }
        .lineDescription {
            &:nth-of-type(6) {
                padding: 250px 0;
            }
            &:nth-of-type(7) {
                background-color: $dark-grey;
            }

            &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9) {
                .lineDescription__sideImage {
                    img {
                        margin: -7px -100px;
                    }
                }
            }
            &:nth-of-type(12) {
                .lineDescription__tile {
                    img {
                        width: auto;
                        object-position: left;
                        height: 4rem;
                        margin-left: -1rem;
                    }
                }
            }
        }

        .paragraph {
            &:nth-of-type(11), &:nth-of-type(13), &:nth-of-type(15), &:nth-of-type(17) {
                text-align: center;
            }
            &:nth-of-type(17) {
                background-color: $grey;
            }
        }
    }
    &.bramy-iso-45 {
        .lineDescription:nth-of-type(3) {
            .lineDescription {
                &__sideImage {
                    img {
                        height: 550px;
                        margin-top: -60px;
                    }
                }
            }
        }

        .qualities {
            &__tile {
                h3 {
                    font-size: 2rem;
                    line-height: 2.4rem;
                    min-width: 320px;
                }
            }
        }

        .lineDescription:nth-of-type(8) {
            .lineDescription {
                &__sideImage {
                    img {
                        height: 500px;
                    }
                }
            }
        }
    }

    &.bramy-iso-70 {
        .lineDescription--low {
            height: 550px;
            .lineDescription {
                &__sideImage {
                    img {
                        height: 380px;
                    }
                }
            }
        }

        .lineDescription:nth-of-type(19) {
            .lineDescription {
                &__content {
                    flex: 0 0 55%;
                    padding: 0 200px;
                }
            }
        }

        .contentAndTiles:nth-of-type(6) {
            padding-top: 0;
        }
    }

    &.bramy-select {
        .ourTeam {
            &__container_person {
                min-width: 320px;
            }
        }
    }
}

@media (max-width: 1500px) {
    #pagecontent {
        &.bramy-iso-45 {
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 400px;
                            margin-top: -10px;
                        }
                    }
                }
            }

            
            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__content {
                        padding: 0 !important;
                    }
                    &__sideImage {
                        iframe {
                            height: 500px;
                            width: 500px;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(6),
            .lineDescription:nth-of-type(11)
            {
                .lineDescription {
                    &__sideImage {
                        height: 300px;
                        img {
                            height: 500px;
                            margin-left: -170px !important;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(8) {
                padding: 370px 0 0;
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-left: -270px !important;
                        }
                    }
                }
            }


        }

        &.bramy-iso-70 {
            .lineDescription:nth-of-type(11),
            .lineDescription:nth-of-type(12),
            .lineDescription:nth-of-type(13),
            .lineDescription:nth-of-type(14),
            .lineDescription:nth-of-type(15),
            .lineDescription:nth-of-type(16),
            .lineDescription:nth-of-type(17),
            .lineDescription:nth-of-type(18),
            .lineDescription:nth-of-type(19)
            {
                .lineDescription {
                    &__content {
                        padding: 0 20px;
                    }
                    &__sideImage {
                        flex: 0 0 35%;
                    }
                }
            }
        }

        

        &.bramy-select {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 26%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #pagecontent {
        &.bramy-iso-45 {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 320px;
                            margin-right: -160px !important;
                        }
                    }
                    &__content {
                        flex: 0 0 60%;
                    }
                }
            }

            
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 300px;
                            margin-right: -220px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        iframe {
                            height: 320px;
                            width: 320px;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(8) {
                .lineDescription {
                    &__content {
                        padding: 0;
                    }
                    &__sideImage {
                        img {
                            height: 300px;
                            margin-left: -100px !important;
                            margin-top: 0;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(9) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 300px;
                            margin-right: 0 !important;
                        }
                    }
                }
            }

        }

            

        &.bramy-iso-70 {
            .lineDescription:nth-of-type(11),
            .lineDescription:nth-of-type(12),
            .lineDescription:nth-of-type(13),
            .lineDescription:nth-of-type(14),
            .lineDescription:nth-of-type(15),
            .lineDescription:nth-of-type(16),
            .lineDescription:nth-of-type(17),
            .lineDescription:nth-of-type(18),
            .lineDescription:nth-of-type(19)
            {
                .lineDescription {
                    &__content {
                        h1 {
                            font-size: 2.5rem;
                            line-height: 2.7rem;
                        }
                        h2 {
                            font-size: 1.5rem;
                        }
                        * {
                            font-size: 1.1rem;
                        }
                    }
                    &__sideImage {
                        flex: 0 0 28%;
                        img {
                            height: auto;
                            width: 320px;
                            margin-top: 0;
                        }
                    }
                }
                &.lineDescription--titletop {
                    padding-top: 220px;
                    .lineDescription {
                        &__content {
                            &_title {
                                top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #pagecontent {
        &.bramy-iso-45 {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-right: -195px !important;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin: -100px 0 -50px;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        iframe {
                            margin-left: -95px;
                        }
                    }
                    &__content {
                        padding: 0 20px !important;
                    }
                }
            }
            .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 400px;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(8) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        img {
                            margin: -15px -120px 0 !important;
                        }
                    }
                    &__content {
                        padding: 0 20px;
                    }
                }
            }
            .lineDescription:nth-of-type(9) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        img {
                            margin: -90px -152px 0 !important;
                        }
                    }
                }
            }
        }


        &.bramy-iso-70 {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        &_title {
                            font-size: 2.1rem;
                            line-height: 2.3rem;
                        }
                    }
                    &__sideImage {
                        img {
                            margin-right: -250px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        margin-bottom: 20px;
                        img {
                            height: 300px;
                            margin-left: -98px !important;
                        }
                    }
                }
            }
            
            .lineDescription:nth-of-type(11),
            .lineDescription:nth-of-type(12),
            .lineDescription:nth-of-type(13),
            .lineDescription:nth-of-type(14),
            .lineDescription:nth-of-type(15),
            .lineDescription:nth-of-type(16),
            .lineDescription:nth-of-type(17),
            .lineDescription:nth-of-type(18),
            .lineDescription:nth-of-type(19)
            {
                height: fit-content;
                .lineDescription {
                    &__content {
                        h2 {
                            font-size: 2rem;
                            line-height: 2rem;
                            text-align: center;
                        }
                        * {
                            font-size: 1.1rem;
                        }
                    }
                    &__sideImage {
                        margin: 50px 0 0;
                        align-self: center;
                        width: fit-content;
                        img {
                            margin: 0 !important;
                        }

                    }
                }
                &.lineDescription--titletop {
                    padding-bottom: 0;
                }
            }
        }

        
        &.bramy-select {
            .lineDescription {
                &__sideImage {
                    width: fit-content;
                    align-self: center;
                    img {
                        margin: -80px 0 -50px !important;
                        max-width: 320px;
                        height: auto;
                    }
                }
            }

            .lineDescription:nth-of-type(5), 
            .lineDescription:nth-of-type(6), 
            .lineDescription:nth-of-type(10),
            .lineDescription:nth-of-type(12),
            .lineDescription:nth-of-type(14),
            .lineDescription:nth-of-type(16),
            .lineDescription:nth-of-type(18) {
                height: fit-content;
                padding: 100px 0;
                .lineDescription {
                    &__sideImage {
                        align-self: flex-end;
                    }
                }
                &.lineDescription--imageLeft {
                    .lineDescription {
                        &__sideImage {
                            align-self: flex-start;
                        }
                    }
                }
            }

            .ourTeam {
                padding: 50px 0 !important;
            }

            .paragraph {
                &--tiles {
                    flex-direction: column;
                }
                &--tile {
                    padding: 20px;
                }
            }
        }
    }
}