#pagecontent {
    &.inteligentne-technologie {
        .imageContent:nth-of-type(2),.imageContent:nth-of-type(3) {
            height: fit-content;
            min-height: fit-content;
            justify-content: space-between;
            .imageContent {
                &__content {
                    padding: 0;
                    flex: 0 0 36%;
                    align-self: center;
                    margin: 0 200px 0 20px;
                    
                }
                &__image {
                    
                }
            }
            &.imageContent--reverse {
                .imageContent {
                    &__content {
                        margin: 0 20px 0 200px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #pagecontent {
        &.technologia-drzwi-wiked {
            .imageContent:nth-of-type(2) {
                padding: 50px;
                .imageContent {
                    &__content {
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #pagecontent {
        &.inteligentne-technologie {
            .imageContent:nth-of-type(2),.imageContent:nth-of-type(3) {
                flex-direction: column;
                .imageContent {
                    &__image {
                        img {
                            object-fit: cover;
                            object-position: top;
                            height: 300px;

                        }
                    }
                    &__content {
                        width: 100%;
                        margin: 0 !important;
                        padding: 20px;
                    }
                }
                &.imageContent--reverse {
                    
                }
            }
        }
        
        &.technologia-drzwi-wiked {
            .imageContent:nth-of-type(2) {
                flex-direction: column;
                height: fit-content;
                .imageContent {
                    &__image {
                        img {
                            width: 40%;
                            min-width: 240px;
                            margin-top: -20px;
                        }
                    }
                }
            }
        }
    }
}
