#pagecontent {
    &.moskitiery {

        .lineDescription:nth-of-type(2) {
            .lineDescription {
                &__sideImage {
                    img {
                        margin-top: -195px;
                        height: 780px;
                    }
                }
                &__content {
                    min-width: 850px;
                }
            }
        }


    }

    &.moskitiery-ramkowe {

        .lineDescription:nth-of-type(4) {
            .lineDescription {
                &__sideImage {
                    flex: 0 0 25%;
                }
            }
        }

        .lineDescription:nth-of-type(5) {
            .lineDescription {
                &__sideImage {
                    img {
                        height: 400px;
                        margin-top: -20px;
                    }
                }
            }
        }

    }

    &.moskitiery-przesuwne {

        .lineDescription:nth-of-type(5) {
            .lineDescription {
                &__content {
                    flex: 0 0 43%;
                    padding: 0 360px 0 0;
                }
            }
        }
        .lineDescription:nth-of-type(6) {
            height: 440px;
        }
        .lineDescription:nth-of-type(7) {
            .lineDescription {
                &__sideImage {
                    img {
                        height: 420px;
                        margin-top: -40px;
                    }
                }
            }
        }
        .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6) {
            .lineDescription {
                &__sideImage {
                    img {
                        height: 200px;
                        margin-top: 50px;
                    }
                }
            }
        }

    }

    

    &.moskitiery-plisowane {

        .lineDescription:nth-of-type(2) {
            .lineDescription {
                &__sideImage {
                    img {
                        margin-top: -140px;

                    }
                }
            }
        }

    }
}

@media (max-width: 1500px) {
    #pagecontent {
        &.moskitiery {
    
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-top: -100px;
                            margin-right: -80px !important;
                            height: 500px;
                        }
                    }
                    &__content {
                        padding:0 100px;
                    }
                }
            }
    
            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        height: 300px;
                        img {
                            margin-top: -45px;
                            margin-right: -120px !important;
                            height: 400px;
                        }
                    }
                }
            }
        }

        &.moskitiery-ramkowe {   
            .lineDescription:nth-of-type(5) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 36%;
                    }
                }
            }
    
        }


        &.moskitiery-przesuwne {
    
            .lineDescription:nth-of-type(5) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 41%;
                    }
                    &__content {
                        padding: 0 50px 0 0;
                    }
                }
            }
            .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 32%;
                        z-index: 1;
                    }
                    &__content {
                        z-index: 1;
                    }
                }
            }
            .lineDescription:nth-of-type(7) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 31%;
                        img {
                            height: 340px;
                        }
                    }
                }
            }
            
            .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 150px;
                        }
                    }
                }
            }
    
        }


        &.moskitiery-plisowane {

            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding: 0 100px;
                    }
                    &__sideImage {
                        img {
                            margin-top: -100px;

                        }
                    }
                }
            }

        }
    }
}
@media (max-width: 1200px) {
    #pagecontent {
        &.moskitiery {
    
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding:0 50px;
                        min-width: 600px;
                    }
                }
            }
            .lineDescription:nth-of-type(4) {
                flex-direction: column-reverse;
                .lineDescription {
                    &__sideImage {
                        width: 50%;
                        align-self: flex-start;    
                        margin: -50px 0 200px;
                    }
                }
            }
    
    
        }
        

        &.moskitiery-plisowane {

            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        flex: 0 0 70%;
                    }
                    &__sideImage {
                        img {
                            margin-right: 0 !important;
                        }
                    }
                }
            }

            

        &.moskitiery-plisowane {

            .lineDescription:nth-of-type(4), .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(7) {
                .lineDescription {
                    &__sideImage {
                        img {

                            margin-top: -50px;
                            margin-left: -50px !important;
                            margin-right: -50px !important;
                            height: 500px;
                        }
                    }
                }
            }

        }

        }
    }
}
@media (max-width: 1000px) {
    #pagecontent {
        &.moskitiery {
    
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                    }
                    &__content {
                        padding:0 20px;
                        min-width: 320px;
                    }
                }
            }
    
    
        }
    }
}
@media (max-width: 900px) {
    #pagecontent {
        &.moskitiery-ramkowe {

            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-left: -10px !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(5) {
                .lineDescription {
                    &__sideImage {
                        width: 55%;
                        img {
                            height: 250px;
                            margin-top: -50px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
    
        }

        &.moskitiery-przesuwne {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 300px;
                            margin-bottom: -20px;
                        }
                    }
                }
            }
    
            .lineDescription:nth-of-type(5) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        margin-top: -60px;
                        img {
                            margin-top: -60px;
                            margin-left: -110px !important;
                        }
                    }
                    &__content {
                        padding: 20px;
                        margin-top: 130px;
                        &_title {
                            width: 100vw;
                            left:0;
                            text-align: center;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(6) {
                height: 500px;
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        img {
                            margin-left: -150px !important;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(7) {
                height: 800px;
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 31%;
                        align-self: center;
                        img {
                            margin-top: 50px;
                            height: 340px;
                            margin-right: -150px !important;
                        }
                    }
                    &__content {
                        margin-bottom: -60px;
                    }
                }
            }
            
            .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 150px;
                        }
                    }
                }
            }
    
        }

        
        &.moskitiery-plisowane {

            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding: 0 20px;
                    }
                    &__sideImage {
                        align-self: center;
                        img {
                            margin-left: 0 !important;
                        }
                    }
                }
            }

            .lineDescription:nth-of-type(4), .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6), .lineDescription:nth-of-type(7) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 300px !important;
                        }
                    }
                }
            }

        }
    }
}
@media (max-width: 700px) {
    #pagecontent {
        &.moskitiery {
    
            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        width: 75%; 
                        margin: -50px 0 50px;
                        img {
                            height: 300px;
                        }
                    }
                }
            }
    
    
        }
    }
}
@media (max-width: 500px) {
    #pagecontent {
        &.moskitiery {
    
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__sideImage {
                        align-self: flex-start;
                        img {
                            height: 250px;
                        }
                    }
                }
            }
    
    
        }

        &.moskitiery-przesuwne {        
            .lineDescription:nth-of-type(5) {
                .lineDescription {
                    &__sideImage {
                        img {
                            
                        }
                    }
                    &__content {

                        &_title {
                            font-size: 2.4rem;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-left: -96px !important;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(7) {
                height: 500px;
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 236px;
                            margin-right: -102px !important;
                        }
                    }
                    &__content {
                        h2 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            
            .lineDescription:nth-of-type(5), .lineDescription:nth-of-type(6) {
                .lineDescription {
                    &__sideImage {
                        img {
                            height: 95px;
                        }
                    }
                    &__content {
                        h2 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
    
        }
    }
}