#pagecontent {
    &.montaz .lineDescription:nth-child(2) .lineDescription__content {
        padding: 0 100px;
      }
      
    &.montaz .lineDescription:nth-child(2) .lineDescription__sideImage {
        align-self: center !important;
    }
    &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel {
        .imageContent:nth-of-type(3) {
            min-height: 700px;
        }
        .qualities {
            &__tile {
                margin: 0;

            }
        }
        .contentCover {
            min-height: fit-content;
            height: fit-content !important;
            &__content {
                width: 50%;
            }
        }
    }
    &.okna-synego .imageContent.imageContent--bigImage.imageContent--grey.imageContent--centerimage.imageContent--collapsed {
        .imageContent__content {
            align-self: center;
        }
      }
      
    &.okna-livio .imageContent.imageContent--reverse.imageContent--grey.imageContent--centerimage.imageContent--expandable .imageContent__content {
            flex: 0 0 80%;
    }
      

    &.okna-przesuwne-psk {
        .imageContent:nth-of-type(5) {
            .imageContent {
                &__image {  
                    align-items: center;

                }
            }
        }
    }

}

@media (min-width: 1500px) {
    #pagecontent.okna-synego .imageContent--bigImage.imageContent--reverse .imageContent__content {
      padding: 100px 50px 150px 200px;
    }
  }

  
@media (max-width: 1600px) {
    #pagecontent {
        &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel {
            .imageContent {
                min-height: 800px;
            }
            .contentCover {
                padding: 50px 100px;
                min-width: 320px;
                h1 {
                    font-size: 2.5rem;
                    line-height: 2.7rem;
                }
            }
        }
        &.okna-geneo {
            .imageContent:nth-of-type(3) {
                padding: 20px;

                .imageContent {
                    &__content {
                        padding: 50px;
                        
                    }
                }
            }
        }
    }
}


@media (max-width: 1500px) {
    #pagecontent {
        &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel {
            .lineDescription {
                &:nth-of-type(2) {
                    .lineDescription {
                        &__sideImage {
                            flex: 0 0 30%;
                        }
                    }
                }
            }
            .imageContent {
                &__content {
                    padding: 50px;

                }
                &:nth-of-type(4) {
                    padding: 20px;
                }
            }
        }

        
        &.okna-przesuwne-psk {
            .imageContent:nth-of-type(3),
            .imageContent:nth-of-type(5) {
                padding: 0;
                .imageContent {
                    &__content {
                        padding: 50px;
                        align-self: center;
                    }
                }
            }
        }
    }
}



@media (max-width: 1200px) {
    #pagecontent {
        &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel, &.okna-przesuwne-hs-dynamic {
            .imageContent {
                &:not(.imageContent--showcolors) {
                    flex-direction: column;
                    padding: 20px 0;
                    height: fit-content !important;
                    .imageContent {

                        &__image {
                            width: 35%;
                            flex: 0 0 20%;
                        }
                    }

                    &.imageContent--reverse {
                        .imageContent {
                            &__image {
                                align-self: flex-end;

                            }
                        }
                    }
                    &.imageContent-centerimage {
                        padding: 100px 0;
                        .imageContent {
                            &__image {
                                width: 30%;
                                align-self: center;
                            }
                        }
                    }
                }
            }
        }
        
        &.okna-livio, &.okna-global, &.okna-novel {
            .imageContent:nth-of-type(3) {
                .imageContent {
                    &__image {
                        align-self: center !important;
                        img {
                            min-width: 240px;
                        }
                    }
                }
            }
            .imageContent:nth-of-type(7) {
                .imageContent {
                    &__image {
                        img {
                            min-width: 390px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #pagecontent {
        
        &.okna-przesuwne-psk {
            .imageContent:nth-of-type(3),
            .imageContent:nth-of-type(5) {
                flex-direction: column;
                height: fit-content !important;
                .imageContent {
                    &__image {  
                        img {
                            min-width: 240px;
                        }

                    }
                    // &__content {
                    //     padding: 50px;
                    //     align-self: center;
                    // }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #pagecontent {
        &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel {
            .imageContent {
                min-height: 1000px;
                &__content {
                    padding-top: 0;
                }
            }
        }

        &.okna-geneo {
            .imageContent:nth-of-type(3) {
                .imageContent {
                    &__image {
                        display: none;
                    }
                }
            }
        }
        &.okna-vigo, &.okna-ineo {
            .imageContent:nth-of-type(8) {
                min-height: fit-content !important;
                .imageContent {
                    &__image {
                        img {
                            margin: 40px 0 60px;
                        }
                    }
                }
            }
        }
        &.okna-synego {
            .imageContent:nth-of-type(3),
            .imageContent:nth-of-type(7) {
                .imageContent {
                    &__image {
                        display: none;
                    }
                }
            }
        }
        &.okna-ineo {
            .imageContent:nth-of-type(4) {
                .imageContent {
                    &__image {
                        img {
                            min-width: 240px;
                            margin-left: -50px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #pagecontent {
        &.okna-geneo, &.okna-vigo, &.okna-synego, &.okna-livio, &.okna-ineo, &.okna-global, &.okna-novel {
            .lineDescription {
                &:nth-of-type(2) {
                    .lineDescription {
                        &__sideImage {
                            width: 55%;
                        }
                    }
                }
            }
            .contentCover {
                padding: 50px 10px;
            }
            .imageContent {
                &__content {
                    padding: 0 20px 50px;
                }
            }
        }
        
        &.okna-livio {
            .imageContent:nth-of-type(3) {
                .imageContent {
                    &__content {
                        h1 {
                            font-size: 2.5rem;
                            line-height: 2.7rem;
                        }
                        h2 {
                            font-size: 1.8rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
        
        &.okna-przesuwne-hs {
            .imageContent:nth-of-type(3),
            .imageContent:nth-of-type(5) {
                height: fit-content !important;
                padding: 50px 20px;
                .imageContent {
                    &__content {
                        padding: 0;
                        flex: 0 0 100%;
                        h1 {
                            font-size: 2.5rem;
                            line-height: 2.7rem;
                        }
                        h2 {
                            font-size: 1.8rem;
                            line-height: 2rem;
                        }
                    }
                    &__image {
                        display: none;
                    }
                }
            }
        }
    }
}