#pagecontent {
    
    &.zaluzje-fasadowe {
        .contentCover:nth-of-type(3) {
            height: fit-content;
            padding: 200px;
            .contentCover {
                &__container {
                    height: fit-content;
                }
            }
        }
    }
}
@media (max-width: 1500px) {
    #pagecontent {
        &.rolety-zewnetrzne-supertherm, &.rolety-zewnetrzne-visio, &.rolety-zewnetrzne-ak-flex {
            .lineDescription:not(.lineDescription--pinkrectoff) {
                .lineDescription {
                    &__sideImage {
                        height: 300px;
                        flex: 0 0 30%;
                        img {
                            height: 400px;
                            margin-top: -50px;
                        }
                    }
                }
            }
        }

        &.rolety-zewnetrzne-ak-flex {
            .lineDescription:nth-of-type(6),
            .lineDescription:nth-of-type(7) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-left: -250px !important;
                            margin-right: -250px !important;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 1200px) {
    #pagecontent {
        &.rolety-zewnetrzne-supertherm, &.rolety-zewnetrzne-visio, &.rolety-zewnetrzne-ak-flex {
            .lineDescription:not(.lineDescription--pinkrectoff) {
                .lineDescription {
                    &__sideImage {
                        height: 200px;
                        flex: 0 0 17%;
                        img {
                            height: 300px;
                        }
                    }
                }
            }
        }
        &.rolety-zewnetrzne-visio, &.rolety-zewnetrzne-ak-flex {
            .lineDescription:not(.lineDescription--pinkrectoff) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 29%;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #pagecontent {
        
        &.zaluzje-fasadowe {
            .contentCover:nth-of-type(3) {
                padding: 20px;
                .contentCover {
                    &__container {
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}