#pagecontent {
    &.oslony-wewnetrzne, &.roletki {
        .lineDescription:nth-of-type(2),
        .lineDescription:nth-of-type(3) {
            .lineDescription {
                &__content {
                    display: flex;
                    flex-direction: column;
                }
                &__tile {
                    img {
                        width: 160px;
                        height: auto;
                    }
                    &s {
                        order: -1;
                    }
                }
                &__sideImage {
                    img {
                        height: 574px;

                    }
                }
            }
        }
    }
    &.oslony-wewnetrzne {
        .lineDescription:nth-of-type(4) {
            .lineDescription {
                &__content {
                    display: flex;
                    flex-direction: column;
                    padding: 0 200px;
                    min-width: 800px;
                }
                &__tile {
                    img {
                        width: 160px;
                        height: auto;
                    }
                    &s {
                        order: -1;
                    }
                }
                &__sideImage {
                    flex: 0 0 35%;
                    img {
                        height: 574px;
                        margin-top: -195px;
                    }
                }
            }
        }
    }

}

@media (max-width: 1500px) {
    #pagecontent {
        &.oslony-wewnetrzne, &.roletki, &.zaluzje {
            .lineDescription:nth-of-type(2) {
                .lineDescription {
                    &__content {
                        padding: 0 20px;
                    }
                    &__sideImage {
                        img {
                            margin: -100px 0 !important;
                        }
                    }
                }
            }
        }
        &.oslony-wewnetrzne {
            .lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__content {
                        padding: 0 20px;
                        min-width: 320px;
                    }
                    &__sideImage {
                        width: fit-content;
                        img {
                            height: 400px;
                            margin-top: -100px;
                        }
                    }
                }
            }
        }
        &.roletki, &.zaluzje {
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__content {
                        padding: 0 20px;
                    }
                    &__sideImage {
                        img {
                            margin: -100px 0 !important;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(4),
            .lineDescription:nth-of-type(5),
            .lineDescription:nth-of-type(6),
            .lineDescription:nth-of-type(8) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 30%;
                    }
                }
            }
        }

        &.zaluzje {
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        flex: 0 0 35%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #pagecontent {
        &.roletki, &.zaluzje {
            .lineDescription:nth-of-type(2),
            .lineDescription:nth-of-type(3) {
                .lineDescription {
                    &__sideImage {
                        img {
                            width: 320px;
                            height: auto;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #pagecontent {
        &.oslony-wewnetrzne {
            .lineDescription:nth-of-type(2),.lineDescription:nth-of-type(4) {
                .lineDescription {
                    &__sideImage {
                        align-self: center;
                        width: fit-content;
                        img {
                            width: 320px;
                            height: auto !important;
                        }
                    }
                }
            }

        }
        &.roletki, &.zaluzje {
            .lineDescription:nth-of-type(2),
            .lineDescription:nth-of-type(3),
            .lineDescription:nth-of-type(4),
            .lineDescription:nth-of-type(5),
            .lineDescription:nth-of-type(6),
            .lineDescription:nth-of-type(8) {
                .lineDescription {
                    &__sideImage {
                        width: fit-content;
                        align-self: center;
                        img {
                            max-width: 320px;
                            height: auto;
                        }
                    }
                }
            }
            .lineDescription:nth-of-type(4),
            .lineDescription:nth-of-type(5),
            .lineDescription:nth-of-type(6),
            .lineDescription:nth-of-type(8) {
                .lineDescription {
                    &__sideImage {
                        img {
                            margin-bottom: -40px;

                        }
                    }
                }
            }
        }


    }
}