<div class="aboutCompany {{reverse ? 'aboutCompany--reverse': ''}}">
    <section class="aboutCompany__images">
        {% for image in images %}
            <img src="{{image.url}}" alt="">
        {% endfor %}
    </section>
    <section class="aboutCompany__content">
        <h2 class="aboutCompany__content--header">{{title}}</h2>
        {{content}}

        <div class="linkbuttons">
            {% if options.buttons.catalog %}
                <a class="linkbutton" href="{{options.buttons.catalog.url}}">{{options.buttons.catalog.title}} <span>&rarr;</span> </a>
            {% endif %}
            
            {% if options.buttons.promo %}
                <a class="linkbutton linkbutton--white" href="{{options.buttons.promo.url}}"> {{options.buttons.promo.title}} <span>&rarr;</span> </a>
            {% endif %}
        </div>
    </section>
</div>
