<div class="bestOpinions">

    {% for opinion in opinions %}
    <div class="bestOpinions__tile">
        <img src="{{options.bestopinionimage.url}}" alt="">
        <h1>{{opinion.post_title}}</h1>
        <div class="divider"></div>
        <p>
            {{opinion.post_content}}
        </p>
    </div>
    {% endfor %}

</div>