<div class="bigImage{{interactive ? ' bigImage--interactive'}}">

{% if interactive %}
        
    <a class="bigImage__cover">
        <img src="{{image.url}}" alt="">
    </a>
    <div class="bigImage__content">
        {{content}}
        {% if button %}
            <a href="{{button.url}}" class="linkbutton">
                {{button.title}}
            </a>
        {% endif %}
    </div>

{% else %}

    <img src="{{image.url}}" alt="">

{% endif %}

</div>