<div class="choose">
    <div class="choose__aside">
        <div class="choose__header">
            <h1>{{header}}</h1>

            <a class="linkbutton" href="{{button.url}}">{{button.title}} <span>&rarr;</span> </a>
        </div>
    </div>
    <div class="choose__section">
        <div class="choose__swiper swiper-container">
            <div class="swiper-wrapper">
                {% for product in products %}
                    <a href="{{product.title.url}}" class="swiper-slide">
                        <img src="{{product.image.url}}" alt="">
                        <h2 class="--underline">{{product.title.title}}</h2>
                        <p>{{product.description}}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="swiper-navigation">
                <a href="#" class="arrows swiper-button-prev">&larr;</a>
                <a href="#" class="arrows swiper-button-next">&rarr;</a>
            </div>
        </div>
    </div>
        
</div>
