<div class="contact">
    <footer class="footer">
        
        <div class="footer__contact">
            <section>
                <h1>{{pagename()|title}}</h1>
                <p>
                    {{options.footer.note}}
                </p>
                <div class="footer__contact--address">
                    <aside>
                        <h3>{{options.footer.address.title}}</h3>
                        <p>
                            {{options.footer.address.content}}
                        </p>
                    </aside>
                    {% for section in options.footer.sections %}
                        <aside>
                            <span>
                                {{section.title}}
                            </span> <br>
                            {{section.content}}
                        </aside>
                    {% endfor %}

                </div>
            </section>
            <section class="footer__contact--map">
                {{options.footer.map}}
            </section>
        </div>

    </footer>
</div>