<div class="contentCover{{nobgcolor ? ' contentCover--nobgcolor' : ''}}{{centertext ? ' contentCover--centertext' : ''}}{{centervertically ? ' contentCover--centervertically' : ''}}" style="background-image: url('{{background.url}}');">

    {% if multiple %}

        <div class="contentCover__container">
            {% for item in contents %} 
                <div class="contentCover__content">
                    <h1>{{item.title}}</h1>
                    <h2>{{item.subtitle}}</h2>
                    <p>
                        {{item.content}}
                    </p>
                </div>
            {% endfor %}
        </div>

    {% else %}
        
        <section class="contentCover__content">
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
            <p>
                {{content}}
            </p>
            {% if buttonson %}
                <div class="linkbuttons">
                    {% if options.buttons.catalog %}
                        <a class="linkbutton" href="{{options.buttons.catalog.url}}">
                            {{options.buttons.catalog.title}}
                            <span>&rarr;</span>
                        </a>
                    {% endif %}

                    {% if options.buttons.promo %}
                        <a class="linkbutton linkbutton--white" href="{{options.buttons.promo.url}}">
                            {{options.buttons.promo.title}}
                            <span>&rarr;</span>
                        </a>
                    {% endif %}

                </div>
            {% endif %}

            {% if button %}
                <a href="{{button.url}}" class="linkbutton linkbutton--white">{{button.title}}</a>
            {% endif %}
        </section>

    {% endif %}


</div>
