<div class="contentAndTiles{{image ? ' contentAndTiles--image' : ''}}{{tilesleft ? ' contentAndTiles--tilesleft' : ''}}">

    <div class="contentAndTiles__content">
        {{content}}
        {% if image %}
            <img src="{{image.url}}" alt="">
        {% endif %}
    </div>
    <div class="contentAndTiles__tiles">
        <div class="contentAndTiles__tiles_title">
            <h2>{{tilestitle}}</h2>
        </div>
        {% for tile in tiles %}
            <div class="contentAndTiles__tiles_tile">
                {{tile.content}}
            </div>
        {% endfor %}
    </div>

</div>