<div class="contactForm">

    <div class="contactForm__heading">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div class="contactForm__form">
        [contact-form-7 id="355" title="contact-form"]
    </div>

</div>