<div class="contentButtonImg{{grey ? ' contentButtonImg--grey' : ''}}{{smallerimage ? ' contentButtonImg--smallerimage' : ''}}">

    <section class="contentButtonImg__image">
        <img src="{{image.url}}" alt="">
    </section>

    <section class="contentButtonImg__content">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>
            {{content}}
        </p>
        
        {% if button.url %}
            <a class="linkbutton" href="{{button.url}}">{{button.title}} <span>&rarr;</span> </a>
        {% endif %}
        
    </section>
</div>