<div class="design">

    <div class="design__heading">
        <div class="design__heading_title">
            <h1>{{title}}</h1>
        </div>
        <div class="design__heading_subtitle">
            <img src="{{image.url}}" alt="">
            <h2>{{subtitle}}</h2>
        </div>
    </div>


</div>