<div class="folders{{imagecontain ? ' folders--contain' : ''}}">
    {% if title %}
        <h1 class="folders__title">{{title}}</h1>
    {% endif %}

    <div class="folders__tiles">
        {% for tile in tiles %}
            <a href="{{tile.link.url}}" class="folders__tile">
                <img src="{{tile.image.url}}" alt=""> <br>
                <span>{{tile.link.title}}</span>
            </a>
        {% endfor %}
    </div>

</div>