<div class="gallery{{textblack ? ' gallery--textblack'}}{{textleft ? ' gallery--textleft'}}{{grey ? ' gallery--grey'}}{{imagecontain ? ' gallery--imagecontain'}}">
    {% if title %}
        <h1 class="gallery__title">{{title}}</h1>
    {% endif %}

    <div class="gallery__container{{quantity > 6 ? ' gallery__container--shorttile'}}{{(gallery|first).title ? '' : ' gallery__container--notitles'}}">
        {% for index, tile in gallery %}
            
            <a href="{{tile.image.url}}" class="gallery__container_tile {{expanding and index >= quantity ? "gallery--hiddenImage" : ""}}" data-lightbox="gallery-expandable">
                <img src="{{tile.image.url}}" alt="">
                {% if tile.title %}
                    <h3>{{tile.title}}</h3>
                {% endif %}
            </a>

        {% endfor %}
    </div>

    {% if expanding %}
        <button class="gallery__expand"> <b>{{button}}</b><b>Mniej</b> <span>&rarr;</span><span>&larr;</span></button>
        
    {% endif %}

</div>