<div class="homeslider
{{lower ? ' homeslider--lower' : ''}}
{{imagecontain ? ' homeslider--imagecontain' : ''}}">
    <div class="swiper-container homeslider__swiper">
        <div class="swiper-wrapper">
            {% for slide in swiper %}
                <div class="swiper-slide">
                    <img src="{{slide.image.url}}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="homeslider__contact">
        <a href="tel:{{options.contact.phones|first.number|split(' ')|join('')}}" class="homeslider__contact--phone">
            {{ teik_svg('icons/icon_phone_solid.svg')}}
        </a>
        <a href="mailto:{{options.contact.emails|first.email}}" class="homeslider__contact--email">
            {{ teik_svg('icons/icon_mail_solid.svg')}}
        </a>
    </div>

    {% if header.on %}
        <div class="homeslider__header{{header.nobgcolor ? ' homeslider__header--nobgcolor' : ''}}">
        
            <h1>{{header.title}}</h1>
            
            <h2>{{header.subtitle}}</h2>
                
        </div>
    {% endif %}

</div>