<div class="imageAndCover{{grey ? ' imageAndCover--grey' : ''}}{{imageright ? ' imageAndCover--imageright' : ''}}">

    <div class="imageAndCover__image">
        <a href="{{image.url}}" data-lightbox="gallery">
            <img src="{{image.url}}" alt="">
        </a> <br>
        <h2>{{imagesubtitle}}</h2>
    </div>
    <div class="imageAndCover__cover" style="background-image: url({{cover.url}});">
        {{content}}
    </div>

</div>