<div class="imageContent{{bigImage ? ' imageContent--bigImage' : ''}}{{reverse ? ' imageContent--reverse'}}{{grey ? ' imageContent--grey'}}{{centerimage ? ' imageContent--centerimage' : ''}}{{smallfont ? ' imageContent--smallfont' : ''}}{{showcolors ? ' imageContent--showcolors' : ''}}{{expandable ? ' imageContent--expandable'}} imageContent--collapsed">
    <section class="imageContent__image">
        <img src="{{image.url}}" alt="">
    </section>

    <section class="imageContent__content">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{content}}</p>

        {% if expandable %}
            <div class="linkbutton--container">

                <a class="linkbutton linkbutton--expandable" href="{{button.url}}"><b>{{options.buttons.expand}}</b>  <b>{{options.buttons.collapse}}</b> <span>&rarr;</span> <span>&larr;</span></a>
            </div>
            
        {% endif %}
    </section>

    {% if showcolors %}
        <div class="imageContent__colors">
            {{options.imagecontent.colorstitle}}
            <aside>
                {% for color in options.imagecontent.colors %}
                    <div class="imageContent__colors_tile">
                        <img src="{{color.image.url}}" alt="">
                        <img src="{{color.sideimage.url}}" alt="" class="imageContent__colors--sideImage">
                    </div>
                {% endfor %}
                
            </aside>
        </div>
    {% endif %}

</div>