<div class="lineDescription{{grey ? ' lineDescription--grey' : ''}}{{imageleft ? ' lineDescription--imageLeft' : ''}}{{thin ? ' lineDescription--thin' : ''}}{{pinkrectoff ? ' lineDescription--pinkrectoff' : ''}}{{closer ? ' lineDescription--closer' : ''}}{{low ? ' lineDescription--low' : ''}}{{bigpink ? ' lineDescription--bigpink' : ''}}{{titletop ? ' lineDescription--titletop' : ''}}{{video ? ' lineDescription--video' : ''}}">

    <section class="lineDescription__content">
        <h1 class="lineDescription__content_title">{{title}}</h1>
        {% if content %}
            {{content}}
        {% endif %}
        <div class="lineDescription__tiles">
            {% for tile in tiles %}
                
                <div class="lineDescription__tile{{tile.fullwidth ? ' lineDescription__tile--fullwidth' : ''}}">
                    {{teik_icon(TimberImage(tile.icon))}}
                    <div>
                        {{tile.description}}

                    </div>
                </div>

            {% endfor %}
        </div>
        {% if note %}
            <i>{{note}}</i>
            
        {% endif %}

        {% if button.title %}
            <a class="linkbutton" href="{{button.url}}">{{button.title}} <span>&rarr;</span> </a>
            
        {% endif %}
        
    </section>

    <section class="lineDescription__sideImage">
        {% if video %}
            {{iframe}}
        {% else %}
            <img src="{{sideimage.url}}" alt="" style="margin-left:{{margin}}px;margin-right:{{margin}}px;">

        {% endif %}
    </section>

</div>