<div class="listLinks{{grey ? ' listLinks--grey' : ''}}">

    <h1>{{title}}</h1>

    <div class="listLinks__container">
        {#{ dump(products|first) }#}
        {% for product in products %}
            <a href="{{product.guid}}" class="listLinks__tile">
                <img src="{{get_thumbnail(product)}}" alt="">
                {% if isud %}
                    <span class="listLinks__ud">{{product.ud}}</span>
                {% endif %}
                <h2>{{product.post_title}}</h2>
            </a>

        {% endfor %}
    </div>
</div>