<div class="montaz">
    <div class="montaz__heading" style="background-image: url('{{headimage.url}}');">
        <h1>{{title}}</h1>
    </div>
    <div class="montaz__content">
        <div class="montaz__content_image">
            <img src="{{contentimage.url}}" alt="">
        </div>
        <div class="montaz__content_description">
            {{description}}
        </div>
    </div>

</div>