<div class="offerHorizontal">
    <h1>{{options.offer.title}}</h1>

    <div class="offerHorizontal__container">
        {% for tile in options.offer.tiles %}
            <a href="{{tile.link.url}}" class="offerHorizontal__tile">
                <img src="{{tile.image.url}}" alt="">
                <h2 class="--underline">{{tile.link.title}}</h2>
            </a>
        {% endfor %}
    </div>
</div>