<div class="offer">
    <div class="offer__head">
        <div class="offer__head--title">
            <h2 class="offer__head--header">{{options.offer.title}}</h2>
        </div>
        <div class="offer__head--description">
            {{options.offer.description}}
        </div>
    </div>
    <div class="offer__tiles">
        {% for tile in options.offer.tiles %} <!-- do wymiany na relację do taksonomii -->
            <a href="{{tile.link.url}}" class="offer__tile">
                <img src="{{tile.image.url}}" alt="">
                <h2 class="--underline">{{tile.link.title}}</h2>
            </a>
        {% endfor %}
    </div>
</div>
