<div class="opinions">
    <div class="opinions__heading">
        <h2 class="opinions__heading--header {{expanding ? 'opinions__title' : '--underline'}}">{{title}}</h2>
        {% if not expanding %}
        <a href="#" class="buttonShowForm">Dodaj opinię</a>
        {% endif %}
    </div>
    {% if expanding %}
        
        <div class="opinions__gallery">
            {% for index, opinion in opinions %}
                    <div class="opinions__gallery_item{{index >= 6 ? ' gallery--hiddenImage' : ''}}">
                        <img src="{{options.opinionimage.url}}" alt=""><h2>{{opinion.post_title}}</h2>
                        <p>
                            {{opinion.post_content}}
                        </p>
                        
                    </div>
            {% endfor %}
        </div>

            <button class="gallery__expand"> <b>{{expandbutton.expand}}</b><b>{{expandbutton.less}}</b> <span>&rarr;</span><span>&larr;</span></button>

    {% else %}


        <div class="opinions__swiper swiper-container">
            <div class="swiper-wrapper">
                {% for opinion in opinions %}
                    <div class="swiper-slide">
                        <img src="{{options.opinionimage.url}}" alt="">
                        <p>
                            {{opinion.post_content}}
                        </p>
                        <h2>{{opinion.post_title}}</h2>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="opinions__form buttonHideForm">
            <div class="opinions__form_window">
                <a href="#" class="buttonHideForm">&times;</a>
                <h2 class="opinions__form_window--header">Prześlij nam swoją opinię</h2>

                
                [contact-form-7 id="207" title="dodaj-opinie"]

            </div>
        </div>

    {% endif %}
</div>