<div id="ourteam" class="ourTeam{{centerTitle ? ' ourTeam--centerTitle' : ''}}{{grey ? ' ourTeam--grey' : ''}}{{bluetext ? ' ourTeam--bluetext' : ''}}{{contain ? ' ourTeam--contain' : ''}}">
    {% if link %}
        <a href="{{link.url}}"><h1>{{title}}</h1></a>
    {% else %}
        <h1>{{title}}</h1>

    {% endif %}
    <div class="ourTeam__container">
        {% for tile in team %}
            <div class="ourTeam__container_person">
                <img src="{{tile.image.url}}" alt="">
                {{tile.description}}
            </div>
        {% endfor %}
    </div>

</div>