<div class="paragraph {{blue ? 'paragraph--blue' : ''}}">
    {% if title %}
        <h1>{{title}}</h1>
    {% endif %}

    {{content}}

    {% if tileson %}
        <div class="paragraph--tiles">
            {% for tile in tiles %}
                <div class="paragraph--tile">
                    {{tile.content}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>