<div class="partners">
    <h2 class="partners--header">{{options.partners.title}}</h2>
    <div class="partners__swiper swiper-container">
        <div class="swiper-wrapper">
            {% for partner in options.partners.partners %}
                <a href="{{partner.link}}" target="_blank" class="swiper-slide">
                    <img src="{{partner.img.url}}" alt="">
                </a>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>