<div class="promo">
    <div class="promo__aside">
        <h2 class="promo--header">{{title}}</h2>
        <a class="linkbutton" href="{{options.buttons.promo.url}}">Zobacz więcej <span>&rarr;</span> </a>
    </div>
    <div class="promo__section">
        <img src="{{promoimage.url}}" alt="">
    </div>
</div>