<div class="qualities{{bgimageon ? ' qualities--bgimage' : ''}}{{aluminium ? ' qualities--aluminium' : ''}}{{bluetitles ? ' qualities--bluetitles' : ''}}{{grey ? ' qualities--grey' : ''}}" style="background-image:url('{{bgimage.url}}');">
    {% if header %}
        <div class="qualities__header">
            {{header}}
        </div>
    {% endif %}
    {% for quality in qualities %}
        <div class="qualities__tile">
            <img src="{{quality.img.url}}" alt="">
            <h3>{{quality.title}}</h3>
            <p>
                {{quality.description}}
            </p>
        </div>
    {% endfor %}
</div>