<div class="realizations">
    <div class="realizations__swiper swiper-container">
        <div class="realizations__heading">
            <h2 class="realizations__heading--header">{{title}}</h2>
        </div>
        <div class="swiper-navigation">
            <a href="#" class="arrows swiper-button-prev">&larr;</a>
            <a href="#" class="arrows swiper-button-next">&rarr;</a>
        </div>
        <div class="swiper-wrapper">
            {% for realization in realizations %}
                <a href="{{realization.image.url}}" class="swiper-slide" data-lightbox="gallery-realization">
                    <img src="{{realization.image.url}}" alt="">
                </a>
            {% endfor %}
        </div>
    </div>
</div>