<div class="simpleList{{grey ? ' simpleList--grey' : ''}}">
<ul>
    {% for item in items %}
        <li>
            <img src="{{item.image.url}}" alt="">
            <span>{{item.content}}</span>
        </li>
    {% endfor %}
</ul>
</div>