<div class="specs" style="background-image: url({{image.url}});">
    <main>
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <div class="specs__list">
            {% for spec in specs %}
                <div class="specs__spec{{spec.title ? '' : ' specs__spec--notitle'}}">
                    {% if spec.title %}
                        <div class="specs__title">
                            {{spec.title}}
                        </div>
                    {% endif %}
                        
                    <div class="specs__contents">
                        {% for c in spec.contents %}
                            <div class="specs__content">
                                {{c.content}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{button.url}}" class="linkbutton">{{button.title}}</a>
    </main>


</div>