<div class="stackImages{{smallimage ? ' stackImages--smallimage' : ''}}{{imageright ? ' stackImages--imageright' : ''}}{{grey ? ' stackImages--grey' : ''}}">

    <section class="stackImages__image">
        <img src="{{image.url}}" alt="">
    </section>
    <section class="stackImages__content">
        <h1>{{title}}</h1>
        {{content}}
    </section>

</div>