<div class="textOnImage" style="background-image: url('{{background.url}}');">

    <div class="textOnImage__title">
        {{title}}
    </div>

    <div class="textOnImage__description">
        {{description}}
    </div>

    
    <div class="linkbuttons">
        {% if options.buttons.catalog.url %}
            <a class="linkbutton" href="{{options.buttons.catalog.url}}">{{options.buttons.catalog.title}} <span>&rarr;</span> </a>
            
        {% endif %}

        {% if options.buttons.promo.url %}
            <a class="linkbutton linkbutton--white" href="{{options.buttons.promo.url}}"> {{options.buttons.promo.title}} <span>&rarr;</span> </a>
            
        {% endif %}

    </div>

</div>