<div class="traders" id="traders">
    <section class="traders__content">
        <h2 class="traders__content--header">{{options.traders.header}}</h2>
        <p>
            {{options.traders.content}}
        </p>
        <div class="linkbuttons">
            {% if options.buttons.catalog.url %}
                <a class="linkbutton" href="{{options.buttons.catalog.url}}">{{options.buttons.catalog.title}} <span>&rarr;</span> </a>
            {% endif %}
                
            {% if options.buttons.promo.url %}
                <a class="linkbutton linkbutton--white" href="{{options.buttons.promo.url}}"> {{options.buttons.promo.title}} <span>&rarr;</span> </a>
            {% endif %}
        </div>

        <div class="traders__people">
            {% for trader in options.traders.persons %}
                <div class="traders__people--trader">
                    <img src="{{trader.image.url}}" alt=""> <br>
                    <span>{{trader.name}}</span> <br>
                    {{trader.description}}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="traders__image">
        <img src="{{options.traders.image.url}}" alt="">
    </section>
</div>