<div class="twoImages{{bigimageleft ? ' twoImages--bigimageleft' : ''}}">

    <aside class="twoImages__small">
        <img src="{{smallimage.url}}" alt="">
    </aside>
    <aside class="twoImages__big">
        <img src="{{bigimage.url}}" alt="">
    </aside>

</div>