.aboutCompany {
    display: flex;
    align-items: center;
    padding: 100px 0;
    &--reverse {
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-bottom: 50px;
        .aboutCompany {
            &__content {
                padding: 0 0 0 200px;
                flex: 0 0 40%;
                font-size: 1.3rem;
            }
            &__images {
                height: 100%;
                flex: 0 0 60%;
                margin-top: -140px;
                img {
                    &:nth-child(2) {
                        position: relative;
                    }
                    &:nth-child(3) {
                        left: 130px;
                        top: 70px;
                        width: 62%;
                    }
                }
            }
        }
        .linkbuttons {
            display: none;
        }
    }
    &__images {
        flex: 0 0 50%;
        position: relative;
        img {
            position: absolute;
            
            &:nth-child(1) {
                position: relative;
                left: 0;
                width: 80%;
            }
            &:nth-child(2) {
                left: 100px;
                top: 110px;
                width: 60%;
            }
            &:nth-child(3) {
                left: 200px;
                top: 70px;
                width: 62%;
            }
        }
    }
    &__content {
        padding-right: 20%;
        &--header {
            font-size: 3rem;

        }
    }
}

@media (max-width: 1050px) {
    .aboutCompany {
        flex-direction: column;
        &--reverse {
            .aboutCompany__images {
                width: 90%;
                margin-bottom: 150px;
            }
        }
        &__images {
            margin: 0 0 100px 10%;
        }
        &__content {
            padding: 0 100px !important;
        }
    }
}

@media (max-width: 600px) {
    .aboutCompany {
        &__images {
            margin: 0 0 100px 0;
            width: 80%;
            img:nth-child(2) {
                left: 50px;
            }
            img:nth-child(3) {
                left: 150px;
            }
        }
        &__content {
            padding: 20px !important;
        }
    }

}

@media (max-width: 500px) {
    .aboutCompany {
        &__images {
            img:nth-child(2) {
                left: 30px;
            }
            img:nth-child(3) {
                left: 100px;
            }
        }
        .linkbuttons {
            flex-wrap: wrap;
            .linkbutton {
                margin: 0 auto 10px;
                width: 70%;
            }
        }
    }
}

@media (max-width:380px) {
    .aboutCompany {
        &__content {
            &--header {
                font-size: 2.5rem;
            }
        }
    }
}