.bestOpinions {

    display: flex;
    padding: 100px 200px;
    justify-content: space-between;

    &__tile {
        flex: 0 0 30%;
        text-align: center;
        h1 {
            max-width: 320px;
            margin: 3rem auto;
        }
        .divider {
            width: 60px;
            height: 6px;
            margin: 3rem auto 2rem;
            background-color: $grey2;
        }
        p {
            line-height: 1.2rem;
        }
    }

}

@media (max-width: 1200px) {
    .bestOpinions {
        padding: 50px 20px;
    }
}

@media (max-width: 900px) {
    .bestOpinions {
        flex-direction: column;
        &__tile {
            img {
                width: 200px;

            }

        }
    }
}