.bigImage {
    width: 100%;
    height: fit-content;
    img {
        width: 100vw;
    }
    &--interactive {
        display: flex;
        flex-wrap: nowrap;
        width: 150vw;
        transition: transform ease 1s;
        &.bigImage--open {
            transform: translate(-50vw, 0);
        }
    }
    &__content {
        padding: 140px;
        width: 50vw;
        font-size: 1.3rem;
    }
    &__cover {
        width: 100vw;
        height: fit-content;
        transition: transform ease .5s;
        &:hover {
            transform: translate(-100px, 0);
            cursor: pointer;
        }
    }

}
