.choose {
    display: flex;
    height: 90vh;
    &__aside {
        flex: 0 0 38%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__section {
        flex: 1;
        position: relative;
        &::after {
            content: ' ';
            background-color: #F1F1F1;
            width: 100%;
            height: 80%;
            position: absolute;
            left: 0;
            top: 30%;
            z-index: -1;
        }
    }
    &__header {
        flex: 0 0 40%;
        margin-left: 10%;
        h1 {
            color: $blue;
            line-height: 1.1em;
            margin-bottom: 50px;
        }
    }
    &__swiper {
        width: 1000px;
        height: 100%;
        padding-top: 100px;
        margin: 0 60px;
        .swiper-wrapper {
            height: fit-content;
        }
        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 400px;
            }
            h2 {
                color: $pink;
                margin-top: 1rem;
            }
            p {
                color: $grey2;
            }
        }
        .swiper-navigation {
            display: flex;
            margin-top: -10px;
            position: absolute;
            bottom: 10px;
            .arrows {
                position: static;
                margin: 10px;
                font-size: 3rem;
                color: $pink;
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .choose__swiper {
        width: 700px;
    }
}

@media (max-width: 1150px) {
    .choose {
        flex-direction: column;
        padding: 100px 0 30px;
        height: fit-content;
        &__header {
            margin: 0 0 50px;
            flex: 0 0 100%;
            text-align: center;
            .linkbutton {
                margin: 0 auto;
            }
        }
        &__swiper {
            margin: 0 auto;
            padding: 0 0 50px;
            .swiper-navigation {
                bottom: -10px;
                left: calc(50% - 47px);
            }
        }
        &__section {
            &:after {
                height: 85%;
            }
        }
    }
}


@media (max-width: 660px) {
    .choose {
        &__header {
            flex: 0 0 90%;
        }
        &__swiper {
            width: 400px;
            .swiper-slide {
                img {
                    height: 200px;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .choose {
        &__header h1 {
            font-size: 2.5rem;
        }
        &__swiper {
            width: 350px;
            .swiper-slide {
                img {
                    height: 150px;
                }
                h2 {
                    line-height: 1.6rem;
                }
            }
        }
    }
}