.contentButtonImg {
    padding: 200px;
    display: flex;
    justify-content: center;
    section {
        flex: 0 0 50%;
    }
    &__image {
        text-align: center;
        img {
            max-width: 450px;
            width: 90%;
        }
    }
    & &__content {
        flex: 0 0 40%;
        min-width: 300px;
        padding-left: 20px;
        p {
            font-size: 1.3rem;
        }
        .linkbutton {
            margin-top: 1.5rem;
        }
    }
    &--grey {
        background-color: $grey;
    }
    &--smallerimage {
        .contentButtonImg {
            &__image {
                img {
                    width: 35%;
                }
            }
        }
    }

}

@media (max-width: 1400px) {
    .contentButtonImg {
        padding: 150px 20px;
    }
}

@media (max-width: 900px) {
    .contentButtonImg {
        flex-direction: column;
        padding: 50px 20px;
        &__image {
            img {
                width: 50%;
            }
            margin-bottom: 20px;
        }
    }
}