.contactForm {
    padding: 100px 20%;
    &__heading {
        text-align: center;
        h1 {
            padding: 0 15% 1.5rem;
        }
    }
    &__form {
        form {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        &_field {
            margin-top: 2rem;
            label {
                width: 100%;
                &.form {
                    &__checkbox {
                        display: flex;
                        align-items: center;
                        font-size: 0.8rem;
                        input {
                            margin-right: 1rem;
                        }
                    }
                    &__submit {
                        input {
                            background-color: $pink;
                            color: white;
                            width: fit-content;
                            padding: .5rem;
                            width: 100px;

                            text-transform: uppercase;
                        }
                    }
                }
            }
            input:not([type="checkbox"]), textarea {
                background-color: $dark-grey;
                padding: 1.2rem;
                border: none;
                width: 100%;
                margin-top: 1rem;
            }
            textarea {
                height: 250px;
            }
            &--third {
                flex: 0 0 30%;
            }
            &--one {
                flex: 0 0 100%;
            }
        }
    }
}

@media (max-width: 1100px) {
    .contactForm {
        padding: 100px;
        
        &__heading {
            h1 {
                padding: 0 10% 1.5rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .contactForm {
        padding: 100px 50px;

        &__heading {
            h1 {
                padding: 0 0 1.5rem;
            }
        }
        &__form {
            &_field {
                margin: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .contactForm {
        padding: 70px 20px;

        &__heading {
            h1 {
                padding: 0 0 1.5rem;
            }
        }
        &__form {
            &_field {
                input, textarea {
                    padding: .9rem !important;
                }
                textarea {
                    height: 150px;
                }
            }
        }
    }
}