.contentCover {
    background-position: center;
    background-size: cover;
    padding: 200px;
    height: fit-content;
    min-height: 85vh;

    &__content {
        background-color: rgba($grey, .7);
        padding: 1rem;
        height: fit-content;
        width: 40%;
        min-width: 300px;
        h2 {
            font-size: 2rem;
        }
        p {
            margin-top: 1rem;
            font-size: 1.4rem;
        }
        .linkbutton--white {
            margin: 2rem 0;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .contentCover__content {
            flex: 0 0 380px;
            margin: 0 3%;
            h2 {
                font-size: 2rem !important;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
    &--centervertically {
        align-items: center !important;
    }
    &--centertext {
        align-items: center !important;
        text-align: center;
        justify-content: center;
        .linkbuttons {
            justify-content: center;
            .linkbutton--white span {
                color: $pink;
            }
        }
        .contentCover__content {
            width: 62% !important;
        }
    }

    &--nobgcolor {
        padding: 0 200px;
        align-items: flex-end;
        display: flex;
        .contentCover {
            &__content {
                background-color: transparent;
                width: 60%;
                font-size: 1.2rem;
                *:not(.linkbutton--white) {
                    color: white;
                }
                h1 {
                    font-size: 3rem;
                }
                // h2 {
                //     font-size: 2.2rem;
                // }
            }
        }
    }
}

@media (max-width: 1500px) {
    .contentCover {
        
        height: fit-content;
    }
}

@media (max-width: 1200px) {
    .contentCover {
        padding: 100px 20px;
    }
}

@media (max-width: 900px) {
    .contentCover {
        &--centertext {
            .contentCover {
                &__content {
                    width: 100% !important;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .contentCover {
        &--centertext {
            .contentCover {
                &__content {
                   .linkbuttons {
                       flex-direction: column;
                       .linkbutton {
                           min-width: 220px;
                           margin: 5px 0;
                       }
                   }
                }
            }
        }
    }
}