.contentAndTiles {

    display: flex;
    padding: 150px;
    &__content {
        padding: 50px;
        font-size: 1.2rem;
        flex: 0 0 50%;
        img {
            width: 80%;
            margin-left: 10%;
        }
        h1 {
            margin-bottom: 2rem;
        }

    }
    &__tiles {
        padding: 50px;
        flex: 0 0 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        &_tile {
            flex: 0 0 48%;
            height: 120px;
            min-width: 300px;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 2% 0;
            background-color: $grey;
            padding: 1rem;
        }
        &_title {
            flex: 0 0 100%;
            height: fit-content;
            h2 {
                font-size: 2rem;
            }
        }
    }

    &--tilesleft {
        flex-direction: row-reverse;
    }

}

@media (max-width: 1500px) {
    .contentAndTiles {
        padding: 0;
        &__content {
            flex: 0 0 65%;
            padding: 20px;
            img {
                height: 70%;
                margin-top: 10%;
            }
        }
        &__tiles {
            flex: 0 0 35%;
            padding: 20px;
            justify-content: space-around;
        }
    }
}

@media (max-width: 900px) {
    .contentAndTiles {
        flex-direction: column;
    }
}