.contact {

    footer {
        .footer {
            &__contact {
                background-color: white;
                padding: 70px 70px 70px 100px;

                &--map {
                    padding: 0;
                    margin: 0;
                    height: 400px;
                    position: relative;
                    iframe {
                        z-index: 10;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        right: -70px;
                        top: -70px;
                        background-color: $pink;
                        z-index: 0;
                    }
                }
                &--address {
                    flex-wrap: wrap;
                    aside {
                        margin-top: 20px;
                        span {
                            font-size: 1.1rem;
                            color: $blue;
                        }
                        &:nth-child(4) {
                            flex: 1 0 100%;
                        }
                        &:nth-child(5) {
                            flex: 1 0 100%;
                            margin-top: -40px;
                        }
                    }
                }
            }
        }
    }

}
