.design {
    padding: 50px 100px;
    &__heading {
        margin: 0 auto;
        width: fit-content;
        &_title {
            h1 {
                font-size: 22vw;
                color: $pink;
                line-height: 17vw;

            }
        }
        &_subtitle {
            display: flex;
            align-items: center;
            margin-top: -5vw;
            line-height: 1.5em;
            img {
                width: 35%;
                margin-left: 1.5em;
            }
        }
    }

}

@media (max-width: 700px) {

    .design {
        padding: 50px 50px 0;
        &__heading {
            &_title {
                h1 {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
            
            &_subtitle {
                display: flex;
                margin-top: 0;
            }
        }
    }
}