.folders {
    padding: 100px 200px;
    &__title {
        margin-bottom: 2rem;
    }
    &__tiles {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__tile {
        margin: 20px 20px 30px 0;
        flex: 0 0 30%;
        height: 300px;
        text-align: center;
        font-size: 1.4rem;
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;

        }
    }
    &-back-button {
        margin: 70px 100px 0;
    }
    
    &--contain .folders__tile img {
        object-fit: contain;
        height: 300px;
      }
}
