.gallery {
    padding: 50px 100px;

    &__title {
        margin-bottom: 90px;

    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--shorttile {
            .gallery__container_tile {
                flex: 0 0 15%;
                min-width: 150px;
                margin: 2% 5%;
                height: auto;
                max-height: 350px;
            }
        }
        &_tile {
            flex: 0 0 30%;
            height: auto;
            max-height: 400px;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            transition: all .5s ease;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: left;
            }
            h3 {
                color: $pink;
                padding: 10px;
                width: 100%;
                text-align: center;
            }

            &:hover {
                transform: scale(0.95);
            }
        }
        &--notitles {
            .gallery__container_tile {
                height: fit-content;
                margin-bottom: 30px;
            }
        }
    } 

    &--hiddenImage {
        max-height: 0 !important;
        margin: 0 !important;
    }

    &__expand {
        background-color: white;
        border: 1px solid $pink;
        color: $pink;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: fit-content;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: bold;
        font-size: 0.8rem;
        margin: 70px auto 0;
        outline: 0 !important;
        span {
            font-size: 4rem;
            height: 1rem;
            margin: -2.6rem 0 0 1rem;
        }
        b:nth-child(2) {
            display: none;
        }
        span:nth-child(4) {
            display: none;
        }
    }
    
    &--expanded {
            
        b:nth-child(1) {
            display: none;
        }  
        b:nth-child(2) {
            display: initial;
        }
            
        span:nth-child(3) {
            display: none;
        }  
        span:nth-child(4) {
            display: initial;
        }
    }

    &--imagecontain {
        .gallery {
            &__container {
                &_tile {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }

    &--grey {
        background-color: $grey;
    }

    &--textblack {
        .gallery {
            &__container {
                &_tile {
                    h3 {
                        color: black;
                    }
                }
            }
            &__expand {
                background-color: $pink;
                color: white;
            }
        }
        
    }
    &--textleft {
        .gallery__container {
            &_tile {
                h3 {
                    text-align: left;
                    line-height: 1.15rem;
                }
            }
        }
    }

}

@media (max-width: 900px) {
    .gallery {
        padding: 50px 20px;
        &__container {
            justify-content: space-around;
        }
    }
}