.homeslider {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    &--lower {
        height: 50vh;
    }
    &--imagecontain {
        height: auto;
        .homeslider {
            &__swiper {
                .swiper-wrapper .swiper-slide {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
    &__swiper {
        width: 100%;
        height: 100%;
        .swiper-wrapper {
            .swiper-slide {
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    &__contact {
        position: absolute;
        bottom: 50px;
        right: 100px;
        display: flex;
        background-color: white;
        z-index: 10;
        a {
            padding: 0 8px;
            svg {
                width: 25px;
            }
        }
    }

    &__header {
        position: absolute;
        background-color: rgba($grey, .8);
        width: 40%;
        min-width: 300px;
        left: 10%;
        bottom: 20%;
        padding: 2rem;
        z-index: 10;
        line-height: 2rem;
        &--nobgcolor {
            background-color: transparent;
            * {
                color: white;

            }
        }
    }

}

@media (max-width: 600px) {
    .homeslider__contact {
        bottom: 5px;
        right: 5px;
    }
  }