.imageAndCover {

    display: flex;
    padding: 100px 0;
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        img {
            width: 80%;
        }
    }

    &__cover {
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 0 0 40%;
        padding: 258px 234px 50px 50px;
        * {
            color: white;
            align-self: flex-start;
        }
        p {
            font-size: 1.3rem;
        }
    }

    &--grey {
        background-color: $grey;
    }
    &--imageright {
        flex-direction: row-reverse;
        justify-content: flex-end;
        .imageAndCover {
            &__cover {
                padding: 258px 50px 50px 234px;
            }
        }
    }
}

@media (max-width: 1500px) {
    .imageAndCover {
        &, &--imageright .imageAndCover {
            &__cover {
                padding: 250px 50px 50px 50px;
            }
        }
    }
}

@media (max-width: 900px) {
    .imageAndCover {
        flex-direction: column;
        padding: 0 0 100px;
        &, &--imageright .imageAndCover {
            &__cover {
                padding: 250px 50px 50px 50px;
            }
        }
    }
}