.imageContent {
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    min-height: 800px;
    overflow: hidden;
    &__image {
        flex: 0 0 40%;
        img {
            width: 80%;
        }
    }
    &__content {
        padding: 50px 100px 50px 50px;
        flex: 0 0 50%;
        font-size: 1.3rem;
    }


    &--bigImage {
        padding: 0;
        // height: auto;
        align-items: flex-start;
        &.imageContent--reverse {
            height: 60vh;
            .imageContent {
                &__content {
                    padding: 100px 50px 150px 300px;
                }
                &__image {
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
        .imageContent {
            &__content {
                padding: 200px 250px 150px 50px;
                flex: 0 0 50%;
                font-size: 1.3rem;
                h1 {
                    font-size: 2.5rem;
                    line-height: 2.7rem;
                }
            }
             &__image {
                 height: 100%;
                 width: 100%;
                 flex: 0 0 50%;
                 img {
                     width: 100%;
                     object-fit: fill;
                 }
             }
        }
    }

    &--centerimage {
        height: 80vh !important;
        .imageContent {
            &__image {
                display: flex;
                align-items: center !important;
            }
        }
    }
    &--smallfont {
        .imageContent {
            &__content {
                font-size: 1rem;
            }
        }
    }

    &--reverse {
        flex-direction: row-reverse;
        &__colors {
            order: 3;
        }
    }
    &--grey {
        background-color: $grey;
    }

    &--showcolors {
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 880px;
        .imageContent {
            &__colors {
                margin-top: 1rem;
                flex: 0 0 100%;
                order: 1;
                aside {
                    display: flex;
                    margin-top: 1rem;

                }
                &_tile {
                    flex: 0 0 10%;
                    img {
                        transition: transform .2s ease;

                    }
                    img {
                        width: 90px;
                    }
                    &:hover {
                        cursor: pointer;
                        img {
                            transform: rotate(45deg);

                        }

                    }
                }
                &--sideImage {
                    display: none !important;
                }
            }
            &__content {
                flex: 0 0 40%;
                padding: 50px 0;
                font-size: 1.3rem;
            }
            &__image {
                img {
                    max-height: 500px;
                    width: auto;
                    object-fit: contain;
                }
            }
        }
    }
    &--expandable {
        .imageContent__content {
            max-height: 1000px;
            transition: all 1s ease;
            overflow: hidden;
        }
    }
    &--collapsed {
        .imageContent__content {
            max-height: 24em;
            position: relative;
        }
        .linkbutton--expandable {
            &>*:nth-child(odd) {
                display: block !important;
            }
            &>*:nth-child(even) {
                display: none;
            }
        }
        .linkbutton--container {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: white;
            padding-top: 1rem;
        }
        &.imageContent--grey {
            .linkbutton--container {
                background-color: $grey;
            }
        }
    }

    .linkbutton--expandable {
        &>*:nth-child(odd) {
            display: none;
        }
        
        b {
            font-weight: bold !important;
        }
    }
}


@media (max-width: 1500px) {
    .imageContent {
        &--showcolors {
            padding: 50px;
            .imageContent {
                &__content {
                    flex: 0 0 50%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .imageContent {
        &--showcolors {
            padding: 20px;
            .imageContent {
                &__content {
                    flex: 1 0 50%;
                }
                &__image {
                    img {
                        width: 100%;
                    }
                }
                &__colors {
                    display: none;
                }
            }
        }
    }
}
// @media (max-width: 760px) {
//     .imageContent {
//         &--showcolors {
//             display: none;
//             flex-direction: column;
//             min-height: 990px !important;
//             .imageContent {
//                 &__content {
//                     flex: 0 0 100%;
//                 }
//                 &__image {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }
@media (max-width: 625px) {
    .imageContent {
        &--showcolors {
            justify-content: center;
            .imageContent {
                &__image {
                    flex: 0 0 50%;
                }
                &__content {
                    margin-top: -100px;
                }
            }
        }
    }
}
// @media (max-width: 460px) {
//     .imageContent {
//         &--showcolors {
//             min-height: 1160px !important;
//         }
//     }
// }