.lineDescription {

    padding: 150px 0;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    min-height: 80vh;
    align-items: center;

    &__content {
        flex: 0 0 50%;
        padding: 0 170px;
        margin-top: -50px;
        height: fit-content;
        h2 {
            font-size: 2rem;
        }
        p, li, div {
            font-size: 1.3rem;
        }
        i p {
            font-size: 0.8rem;
        }
        ul {
            padding: 0 21px;
        }
    }

    &__tiles {
        display: flex;
        flex-wrap: wrap;
        margin: 1.5rem 0;
    }

    &__tile {
        flex: 0 0 30%;
        max-width: fit-content;
        display: flex;
        margin: 1rem 1rem 0 0;
        align-items: center;
        div {
            margin-left: 1rem;
            line-height: 1.3rem;
            height: fit-content;
        }
        img {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
        }
        &--fullwidth {
            max-width: 100%;
            flex: 0 0 100%;
            margin: -2px;
        }
        svg {
            width: 50px;
            height: 50px;
        }
    }

    &__sideImage {
        flex: 0 0 35%;
        height: 400px;
        background-color: $pink;
        img {
            margin-top: -100px;
            margin-bottom: -100px;
            height: 600px;

        }
    }

    &--bigpink {
        min-height: fit-content;
        &.lineDescription--closer {
            .lineDescription {
                &__content {
                    padding: 0 50px 0 350px;
                    align-self: flex-end;
                    margin-bottom: -100px;
                }
                &__sideImage {
                    margin-bottom: -200px;
                    height: 550px;
                    background-color: $grey;
                    img {
                        margin-top: -230px;
                    }
                }
            }
        }
        &.lineDescription--imageLeft {
            padding-bottom: 0;
            padding-top: 150px;
            .lineDescription {
                &__sideImage {
                    margin-top: -200px;
                    margin-bottom: initial;
                    background-color: $pink;
                    img {
                        margin-top: 60px;
                    }
                }
                &__content {
                    padding: 0 200px 0 50px;
                    align-self: center;
                    margin: 0;
                }
            }

        }
    }

    &--titletop {
        position: relative;
        padding: 370px 0 200px;

        &.lineDescription__imageLeft {
            .lineDescription {
                &__content {
                    padding-left: 0;
                }
            }
        }
        .lineDescription {
            &__content {
                font-size: 1.12rem;
                flex: 0 0 52%;
                padding: 0 120px 0 0;
                &_title {
                    position: absolute;
                    left: 0;
                    width: 100vw;
                    text-align: center;
                    top: 100px;
                }
            }
            &__tile {
                flex-direction: column;
                div {

                    line-height: 1.4rem;
                }
                img {
                    width: 100%;
                    padding: .7rem;
                    margin-bottom: 1rem;
                    object-position: left;
                }
            }
        }
        
    }

    &--video {
        .lineDescription {
            &__sideImage {
                iframe {
                    height: 640px;
                    margin-top: -100px;

                }
            }
            &__content {
                padding: 0 200px !important;
            }
        }
    }

    &--low {
        padding: 0;
        height: 430px;
        min-height: auto;
        &:first-of-type {
            padding-top: 350px;
        }
    }

    &--closer {
        justify-content: space-around;
        .lineDescription {
            &__sideImage {
                flex: 1 0 35%;
                img {
                    height: 700px;
                }
            }
            &__content {
                flex: 0 0 50%;
                padding: 0 300px 0 100px;
                h2 {
                    font-size: 2rem;
                }
            }
            &__tile img {
                width: 4rem;
                height: 5rem;
            }
            &__tiles {
                margin: 0 0 1rem;
            }
        }
    }

    &--grey {
        background-color: $grey;
    }
    &--imageLeft {
        flex-direction: row-reverse;
        .lineDescription {
            &__sideImage {
                text-align: right;
            }
        }
    }

    &--thin {
        .lineDescription {
            &__sideImage {
                height: 220px;
                img {
                    margin: -80px -100px;
                    height: 400px;
                }
            }
        }
    }

    &--pinkrectoff {
        .lineDescription {
            &__sideImage {
                background-color: transparent;
            }
        }
    }

}

@media (max-width: 1500px) {
    .lineDescription {
        
        &__content {
            padding: 0 50px;
        }
        &--pinkrectoff {
            .lineDescription {
                &__sideImage {
                    flex: 0 0 20%;
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .lineDescription {
        
        &__content {
            padding: 0 20px;
            min-width: 300px;
        }
    }
}

@media (max-width: 900px) {
    .lineDescription {
        flex-direction: column-reverse;
        &__sideImage {
            width: 50%;
            align-self: flex-end;
            flex: 0 0 200px;
            height: 200px;
            img {
                height: 400px;
            }
        }
        &__content {
            margin-top: 100px;
        }
        
        &--imageLeft {
            .lineDescription {
                &__sideImage {
                    align-self: flex-start;
                }
            }
        }
        &--pinkrectoff {
            .lineDescription {
                &__sideImage {
                    width: 40%;
                }
            }
        }
    }
}