.listLinks {
    padding: 100px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__tile {
        flex: 0 0 20%;
        text-align: center;
        img {
            width: 45%;
            margin: 3rem auto;
        }
        h2 {
            font-size: 2rem;
        }
    }
    &--grey {
        background-color: $grey;
    }
    &__ud {
        display: block;
        margin: -50px 0 20px;
        font-weight: bold;
    }
}

@media (max-width: 700px) {
    .listLinks {
        padding: 100px 20px;
        &__container {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
@media (max-width: 400px) {
    .listLinks {
        padding: 50px 20px;
        h1 {
            font-size: 2.2rem;
        }
    }
}