.montaz {
    &__heading {
        padding: 50px 200px;
        background-position: right;
        background-size: cover;
        height: 400px;
        h1 {
            width: 100px;
            text-transform: uppercase;
            color: $pink;
        }
    }
    &__content {
        display: flex;
        padding: 50px 100px;
        &_image {
            flex: 0 0 50%;
            height: 130%;
            margin-top: -20%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        &_description {
            padding: 50px;
            font-size: 1.3rem;
        }
    }

}

@media (max-width: 1000px) {
    .montaz {
        &__heading {
            height: 300px;
        }
        &__content {
            padding: 50px;

            &_description {
                padding: 0;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .montaz {
        &__heading {
            height: 250px;
        }
        &__content {
            flex-direction: column;
            &_image {
                width: 60%;
                margin-top: -30%;
                align-self: center;
            }
        }
    }
}

@media (max-width: 400px) {
    .montaz {
        &__heading {
            h1 {
                font-size: 2.5rem;
            }
        }
        &__content {
            &_image {
                width: 80%;
                margin-top: -40%;
            }
        }
    }
}