.offerHorizontal {
    background-color: $light-grey;
    padding: 50px;
    h1 {
        text-align: center;
        color: $pink;
    }
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
    }

    &__tile {
        flex: 0 0 10%;
        margin-bottom: 20px;
        img {
            height: 10vw;
            min-width: 80px;
            min-height: 90px;

        }
        h2 {
            color: $pink;
            line-height: 1.5rem;
            min-width: 120px;
        }
    }
}