.offer {
    &__head {
        display: flex;
        &--title {
            background-color: $pink;
            height: 220px;
            padding: 150px 70px 0;
            flex: 0 0 47%;
            text-align: right;
        }
        
        &--header {
            color: white;
            font-size: 3rem;
            line-height: 3.2rem;
        }
        &--description {
            display: flex;
            align-items: flex-end;

            padding: 20px 15% 20px 20px;
        }
    }

    &__tiles {
        display: flex;
        justify-content: space-around;
        padding: 50px 200px;
        flex-wrap: wrap;

    }
    &__tile {
        margin: 50px 100px;
        h2 {
            text-align: center;
            max-width: 250px;
            font-size: 2.2rem;
            line-height: 2rem;
            color: $pink;
            &.--underline::after {
                left: 50%;
                bottom: -.8rem;
            }
        }
    }
}

@media (max-width: 1700px) {
    .offer {
        &__tiles {
            padding: 50px 90px;
        }
    }
}

@media (max-width: 1500px) {
    .offer {
        &__tiles {
            padding: 50px 150px;
        }
        &__tile {
            margin: 30px;
            width: 20%;
            img {
                width: 100%;
            }
            h2 {
                font-size: 1.8rem;
            }
        }
    }
}

@media (max-width: 1230px) {
    .offer {
        &__head {
            &--description {
                padding: 20px;
            }
        }
        &__tiles {
            padding: 30px;
        }
        &__tile {
            h2 {
                font-size: 1.3rem;
                line-height: 1.4rem;
                min-width: 120px;
            }
        }
    }
}

@media (max-width: 800px) {
    .offer {
        &__head {
            flex-direction: column;
        }
    }
}

@media (max-width: 500px) {
    .offer {
        &__tile {
            width: fit-content;
            h2 {
                font-size: 2rem;
                line-height: 1.6rem;
                min-width: 283px;
            }
            img {
                width: 150px;
                margin: 0 auto;
                display: block;
            }
        }
    }
}