.opinions {
    padding-bottom: 100px;
    position: relative;
    &__heading {
        padding: 100px 150px 20px;
        display: flex;
        justify-content: space-between;
        &--header {
            font-size: 3rem;
            line-height: 3.2rem;
            color: $pink;
            position: relative;
            &.--underline::after {
                left: -10%;
                width: 25%;
                bottom: -.8rem;
            }
        }
        a.buttonShowForm {
            display: block;
            border-radius: 50px;
            border: 2px solid $pink;
            padding: 10px 30px;
            color: $pink;
            font-size: 1.5rem;
            white-space: nowrap;
            height: min-content;
        }

    }

    &__swiper {
        .swiper-wrapper {
            margin: 70px 0 100px;
            .swiper-slide {
                width: 500px;
                p {
                    padding: 1.5rem 2rem 0 0;
                }
                h2 {
                    color: $pink;
                }
            }
        }
        .swiper-pagination {
            &-bullet {
                &-active {
                    background-color: $pink;
                }
            }
        }
    }

    &__form{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        align-items: center;
        justify-content: center;
        z-index: 10;

        display: none;
        &.visible {
            display: flex;
        }

        &_window {
            background-color: white;
            padding: 50px;
            width: 60%;
            position: relative;
            .buttonHideForm {
                position: absolute;
                font-size: 3rem;
                top: -1rem;
                right: .5rem;
                &:hover {
                    color: red;
                }
            }
            
            &--header {
                font-size: 3rem;
                line-height: 3.2rem;
                text-align: center;
                margin-bottom: 3rem;
            }

            .wpcf7-form {
            
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                label {
                    display: block;
                }
                input, textarea {
                    background-color: $grey;
                    width: 100%;
                    border: none;
                    padding: 10px;
                }
            .opinions__form_window {
                
                &--name {
                    flex: 0 0 48%;
                }
                &--email {
                    flex: 0 0 48%;
                }
                &--opinion {
                    flex: 0 0 100%;
                    textarea {
                        height: 100px;
                    }
                }
                &--accept {
                    flex: 0 0 100%;
                    label {
                        display: flex;
                        flex-grow: 1;
                        align-items: center;
                        .wpcf7-form,.wpcf7-form-control,.wpcf7-form-wrap,.wpcf7-list-item {
                            padding: 0;
                            margin: 0;
                        }
                    }
                    input {
                        flex-shrink: 1;
                        width: auto;
                    }
                    span {
                        padding: 10px;
                    }
                }
                &--submit {
                    input {
                        background-color: $pink;
                        color: white;
                    }
                }
            }
            }
            
        }
    }

    &__heading &__title {
        color: $blue;
        margin: 0 auto;
        width: 480px;
        text-align: center;
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        flex-wrap: wrap;
        &_item {
            min-width: 300px;
            flex: 0 0 45%;
            overflow: hidden;
            height: auto;
            max-height: 80vh;
            transition: all 1.5s ease;
            h2 {
                display: inline-block;
                margin: 5rem 0 4rem 1rem;
            }
            p {
                line-height: 1.2rem;
            }
        }
    }
    .gallery__expand {
        background-color: $pink;
        color: white;
    }
}

@media (max-width: 1100px) {
    .opinions {
        &__gallery {
            padding: 0 20px;
            justify-content: space-around;

        }
    }
}

@media (max-width: 900px) {
    .opinions {
        &__heading {
            padding: 50px 50px 0;

        }
    }
}

@media (max-width: 570px) {
    .opinions {
        &__heading {
            padding: 50px 20px 0;
            &--header {
                font-size: 2rem;
                line-height: 2.2rem;
            }
            a.buttonShowForm {
                font-size: 1.2rem;
                padding: 5px 10px;
            }
        }
        
        &__swiper {
            .swiper-wrapper {
                .swiper-slide {
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .opinions {
        &__heading {
            flex-direction: column;
            a.buttonShowForm {
                margin: 2rem auto 0;
            }
        }
    }
}