.ourTeam {
    padding: 100px 200px;
    background-color: white;
    
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 70px;

        &_person {
            // text-align: left;
            color: black;
            max-width: 20%;
            min-width: fit-content;
            img {
                width: 200px;
                height: 200px;
                margin-bottom: 50px;
            }
            p {
                max-width: 200px;
            }
        }
    }

    &--centerTitle {
        h1 {
            text-align: center;
        }
    }
    
    &--grey {
        background-color: $grey;
    }

    &--contain {
        .ourTeam {
            &__container {
                &_person {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
    &--bluetext {
        .ourTeam {
            &__container {
                &_person {
                    text-align: center;
                    color: $blue;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .ourTeam {
        padding: 100px;
        &__container {
            padding: 70px 0 0;
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 800px) {
    .ourTeam {
        padding: 50px 20px;
    }
}