.partners {
    margin: 100px;
    &--header {
        font-size: 3rem;
        line-height: 3.2rem;
        text-align: center;
        color: #D91980;
    }
    &__swiper {
        width: 85%;
        margin: 0 auto;
        .swiper-wrapper {
            margin: 70px 0;
            .swiper-slide {
                display: flex;
                justify-content: center;
                width: 300px;
                img {
                    height: 70px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .partners {
        margin: 60px 20px 100px;
        &__swiper {
            width: 95%;
        }

    }
}

@media(max-width: 650px) {
    .partners {
        margin: 20px 10px 50px;
        &--header {
            font-size: 2.5rem;
        }
    }
}