.paragraph {
    padding: 100px 200px 50px;
    p {
        margin-top: 3rem;
        font-size: 1.3rem;
    }
    &--blue {
        padding: 200px 20%;
        p {
            color: $blue;
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    &--tiles {
        display: flex;
        justify-content: space-between;
    }
    &--tile {
        background-color: $darker-grey;
        flex-grow: 1;
        margin: 1rem;
        padding: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 1.15rem;
        line-height: 1.2rem;
    }
}

@media (max-width: 1200px) {
    .paragraph {
        padding: 50px 20px;
    }
}