.promo {
    display: flex;
    background-color: $grey;
    &--header {
        font-size: 3rem;
        line-height: 3.2rem;
    }
    &__aside {
        flex: 0 0 30%;
        padding: 15% 0 20% 15%;
        box-sizing: border-box;
        .linkbutton {
            margin-top: 50px;
        }
    }
    &__section {
        flex: 0 0 70%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 1000px) {
    .promo {
        &--header {
            font-size: 2rem;
            line-height: 2rem;
          }
        &__aside .linkbutton {
        margin-top: 20px;
        }
    }
}

@media (max-width: 900px) {
    .promo {
        flex-direction: column;
        &__aside {
            padding: 50px 100px 0;
        }
    }
}

@media (max-width: 420px) {
    .promo {
        &--header {
            font-size: 2.5rem;
        }
    }
}