.qualities {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    &__header {
        flex: 0 0 100%;
        margin-bottom: 100px;
    }
    &__tile {
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 200px;
            padding: 30px;
        }
        h3 {
            color: black;
        }
        p {
            line-height: 1.2rem;
        }
    }

    &--grey {
        background-color: $grey;
    }
    &--bluetitles {
        .qualities {
            &__tile {
                h3 {
                    color: $blue;
                }
            }
        }
    }

    &--aluminium {
        .qualities {
            &__tile {
                margin-top: 50px;
                flex: 0 0 300px;
                img {
                    width: 52px;
                    height: 52px;
                    padding: 0;
                }
                h3 {
                    font-size: 1.8rem;
                    white-space: nowrap;
                    margin: 1rem 0 0;
                    color: $blue;
                }
                p {
                    font-weight: bold;
                }
            }
        }
    }

    &--bgimage {
        background-size: cover;
        background-position: center;
        padding: 200px 100px 100px;
        .qualities {
            &__tile {
                margin: 0 -20px;
                font-size: 1.3rem;
                h3 {
                    font-size: 2rem;
                    white-space: nowrap;
                    line-height: 5rem;
                }
                p, h3 {
                    color: white;
                }
                p {
                    line-height: 1.8rem;
                }
            }
        }
    }
}