.realizations {
    background-color: $grey;
    padding-bottom: 100px;
    &__heading {
        padding: 35px 0 35px 30%;
        &--header {   
            font-size: 3rem;
            line-height: 3.2rem;
        }
    }
    &__swiper {
        .swiper-wrapper {
            margin-top: 150px;
            align-items: center;
        }
        .swiper-slide {
            transition: transform .5s ease;
            min-width: 300px;
            img {
                height: 100%;
                max-height: 50vh;
                width: 100%;
                object-fit: cover;
            }
            &-active {
                transform: scale(1.2);
            }
        }
        .swiper-navigation {
            display: flex;
            background-color: white;
            justify-content: flex-end;
            width: 25%;
            padding: 25px 30px;
            position: absolute;
            left: 0;
            top: 0;
            .arrows {
                position: static;
                margin: 10px;
                font-size: 3rem;
                color: $pink;
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .realizations {
        padding-bottom: 50px;
        &__swiper {
            .swiper {
                &-navigation {
                    width: 120px;
                    padding: 10px 15px;
                }
                &-wrapper {
                    margin-top: 50px;
                }
            }
        }
        &__heading {
            padding: 20px 0 0 140px;
            &--header {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .realizations {
        &__swiper {
            .swiper-wrapper {
                height: 300px;
            }
        }
        &__heading--header {
            font-size: 2rem;
        }
    }
}

@media (max-width: 380px) {
  .realizations__heading--header {
    font-size: 1.5rem;
  }
}