.simpleList {
    padding: 200px;
    ul {
        list-style-type: none;
        li {
            font-size: 1.9rem;
            display: flex;
            margin: 5px 0;
            img {
                margin-right: 2rem;
                object-fit: contain;
            }
            
        }
    }

    &--grey {
        background-color: $grey;
    }
}

@media (max-width: 1200px) {
    .simpleList {
        padding: 100px 50px;
    }
}

@media (max-width: 900px) {
    .simpleList {
        padding: 50px 20px;
        ul {
            padding: 0;    
            li {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
        }
    }
}