.specs {
    background-size: cover;
    width: 100%;
    height: fit-content;
    main {
        width: 28%;
        min-width: 520px;
        height: fit-content;
        background-color: rgba(white, .8);
        text-align: center;
        margin-left: 10%;
        padding: 20px 100px;
        h2 {
            font-size: 2rem;
            line-height: 2.2rem;
        }

        .linkbutton {
            margin: 1rem auto;
            text-transform: none;
            background-color: $pink-alt;
            font-size: 1rem;
            padding: .5rem 3rem;
        }
    }
    &__title {
        color: $pink;
        font-size: 0.87rem;
    }
    &__spec {
        border-top: 1px $darkest-grey solid;
        font-size: 0.62rem;
        padding: 5px;
        strong {
            font-size: 1rem;
        }
        &:first-child, &--notitle {
            border: none;
        }
    }
    &__contents {
        display: flex;
        justify-content: center;
        p {
            margin: 0;
        }
    }
    &__content:nth-child(2) {
        margin-left: 1.5rem;
        position: relative;
        &::before {
            position: absolute;
            left: -0.6rem;
            content: '';
            height: 0.8rem;
            border-left: 1px solid $darkest-grey;
        }
    }

}

@media (max-width: 600px) {
    
    .specs {
        main {
            margin: 0 auto;
            padding: 20px 10px;
            min-width: 320px;

        }
    }
}