.stackImages {
    padding: 100px;
    display: flex;
    align-items: center;
    &__image {
        padding: 30px;
        position: relative;
        z-index: 10;
        height: fit-content;
        flex: 0 0 50%;
        img {
            width: 100%;
        }

        &::after {
            content: '';
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $pink;
            z-index: -1;
        }
    }
    &__content {
        padding: 100px;
        font-size: 1.4rem;
        p {
            margin: 50px 50px 0 0;
        }
    }
    &--smallimage {
        .stackImages {
            &__image {
                margin: 100px;
                flex: 0 0 30%;

                &::after {
                    width: calc(100% - 100px);
                    height: calc(100% - 100px);
                }
            }
        }
    }
    &--imageright {
        flex-direction: row-reverse;
    }
    &--grey {
        background-color: $grey;
    }
}

@media (max-width: 1200px) {
    .stackImages {
        padding: 100px 50px;

        &__content {
            padding: 50px 0 0 50px;
            h1 {
                font-size: 2.5rem;
            }
            p {
                margin: 20px 0 0 0;
            }
        }
    }
}

@media (max-width: 900px) {
    .stackImages {
        flex-direction: column;
        padding: 20px 20px 50px;
        &__image {
            width: 50%;
            align-self: center;
            padding: 15px;
            &::after {
                width: calc(100% - 30px);
                height: calc(100% - 30px);
            }
        }
        &__content {
            padding: 20px 0 0;
        }
    }
}

@media (max-width: 400px) {
    .stackImages {
        &__image {
            width: 60%;
            padding: 10px;
            &::after {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }
        &__content {
            h1 {
                font-size: 2rem;
                line-height: 2.2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}