.textOnImage {
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    padding: 300px 40% 200px 100px;
    &__title {
        font-size: 2.5rem;
    }
    &__description {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .textOnImage {
        padding: 100px 40% 100px 50px;
    }
}

@media (max-width: 700px) {
    .textOnImage {
        padding: 100px 50px;
    }
}

@media (max-width: 500px) {
    .textOnImage {
        padding: 50px 20px;
        &__title {
            font-size: 2.2rem;
        }
        &__description {
            font-size: 1.3rem;
        }
        .linkbuttons {
            flex-direction: column;
            margin-top: 20px;
            .linkbutton {
                width: 200px;
                margin-bottom: 10px;
            }
        }
    }
}
