.textColumns {

    display: flex;
    height: 80vh;
    min-height: 950px;
    &__column { 
        flex: 1 0 50%;
        padding: 50px 240px 150px 100px;
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column; 
    }
    &--pink {
        background-color: $pink;
        padding: 150px 100px;
        flex: 0 0 45%;
        align-items: flex-end;
        * {
            color: white;
        }
    }

}

@media (max-width: 1500px) {
    .textColumns {
        
        &__column { 
            padding: 50px 50px 100px 50px;
        }
        &--pink {
            padding: 100px 50px;
        }
    }
}

@media (max-width: 1200px) {
    .textColumns {
        
        &__column { 
            flex: 0 0 60%;
        }
        &--pink {
            flex: 0 0 40%;
            h1 {
                font-size: 2.4rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .textColumns {
        flex-direction: column;
        height: fit-content;
        &__column { 
            min-height: fit-content;
        }
        &--pink {
            
        }
    }
}