.traders {
    background-color: $light-grey;
    display: flex;
    &__content {
        flex: 0 0 60%;
        padding: 100px 200px;
        padding-right: 10%;
        &--header {
            width: 70%;
            font-size: 3rem;
            line-height: 3.2rem;
        }
        p {
            width: 60%;
            margin-top: 50px;
        }
        .linkbuttons {
            margin-top: 40px;
        }
    }
    &__people {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        &--trader {
            text-align: center;
            margin: 0 5px;
            flex: 0 0 33%;
            span {
                font-weight: bold;
            }
        }
    }

    &__image {
        flex: 0 0 40%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1200px) {
    .traders {
        &__content {
            padding: 50px 5% 50px 40px;
            &--header {
                width: 100%;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            .linkbuttons {
                flex-wrap: wrap;
                .linkbutton {
                    margin: 0 0 10px;
                    width: 90%;
                }
            }
        }
        &__people {
            flex-wrap: wrap;
            justify-content: space-around;
            &--trader {
                img {
                    width: 60px;
                }
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 600px) {
    .traders {
        flex-direction: column-reverse;
        &__content {
            padding: 50px 40px;
            &--header {
                width: 100%;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            p {
                width: 100%;
            }
            .linkbuttons {
                flex-wrap: wrap;
                .linkbutton {
                    margin: 0 0 10px;
                    width: 90%;
                }
            }
        }
        &__image {
            height: 200px;
        }
    }
}