.twoImages {
    height: 80vh;
    display: flex;

    &__small {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 50%;
        img {
            width: 70%;
        }
    }
    &__big {
        flex: 0 0 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--bigimageleft {
        flex-direction: row-reverse;
    }

}

@media (max-width: 700px) {
    .twoImages {
        flex-direction: column;
        overflow: hidden;
    }
}