$font-family: 'Lato', sans-serif;
$font-family-heading: $font-family;

$font-base: 'Roboto', sans-serif;

$font-size: 1rem;

$font-size-base: $font-size;
$font-weight: 400;
$font-weight-base: $font-weight;
$font-line-height: 1.5;
$line-height-base: $font-line-height;

