html {
    font-size: 16px;
}

body, html {
    overflow-x: hidden;
}

.linkbutton {
    padding: 8px 20px;
    background-color: $pink;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    font-size: .8rem;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    span {
        transform: scale(3) translateY(-1px);
        margin-left: 20px;
    }
}
.linkbuttons {
    margin-top: 50px;
    display: flex;
    .linkbutton {
        margin-right: 2rem;
        min-width: 207px;
        &--white {
            background-color: white;
            color: $pink;
            border: 1px solid $pink;
        }
    }
}

h1, h2, h3, h4 {
    color: $blue;
    font-family: $font-base;
}

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
}

a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
    &:hover {
        transform: scale(0.99);
    }
    
}

.--underline {
    position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 40px;
            height: .4rem;
            background-color: $blue;

            left: -.8rem;
            bottom: -.4rem;

        }
}

.swiper-container {
    .swiper-pagination {
        white-space: nowrap;
        &-bullet {
            margin: 0 !important;
            width: 100px;
            border-radius: 0;
            height: 3px;
            &-active {
                background-color: $blue;
            }
        }
    }
}

.lightbox .lb-image {
    min-height: 80vh !important;
    width: auto !important;
    max-width: 80vw !important;
    object-fit: contain;
}

.pagination {
    &__list {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }
    &__item {
        margin: 0 20px;
    }
}